---
title: &title "Ch4mp vs Dodger - Xonotic Ranked 4"
layout: ranked
author: Ch4mp
---

<div class="w3-row ranked-container">

  <div class="w3-col w3-center">

    <h1 class="w3-center blazing w3-jumbo">Ch4mp vs Dodger - Xonotic Ranked 4</h1>

    <p class="w3-center w3-xxlarge">
      <a href="https://www.twitch.tv/rocketjumpzone" target="_blank">twitch.tv/rocketjumpzone</a><br>
      Mar 7 - 2PM CET</p>
  </div>

  <div class="w3-row-padding">
    <div class="w3-third">
      <%= image_tag 'avatar/ch4mp.png', class:'w3-mobile w3-circle ranked-avatar', style:'margin-left:20px', alt: 'Ch4mp' %>
      <h2 class="w3-jumbo" style="margin-left:40px">
        <a href="/player/ch4mp">Ch4mp</a>
      </h2>
      <p class="w3-xlarge" style="margin-left:40px">Xonotic since 2015</p>

      <p class="w3-xlarge" style="margin-left:40px">
        <span>challenger</span><br>
        current rank: 2</p>

      <p class="w3-xlarge" style="margin-left:40px">Zensports 2020 Duel Cup - 3rd place</p>
    </div>

    <div class="w3-third">
      <p class="w3-center mobile-margin-5" style="font-size:256px;margin-top:200px;padding:0">vs</p>
    </div>

    <div class="w3-third" style="direction: rtl">
      <%= image_tag 'avatar/dodger.png', class:'w3-mobile w3-circle ranked-avatar', style:'margin-right:20px', alt: 'Dodger' %>
      <h2 class="w3-jumbo" style="margin-right:40px">
        <a href="/player/dodger">Dodger</a>
      </h2>
      <p class="w3-xlarge" style="margin-right:40px">Xonotic since 2012</p>

      <p class="w3-xlarge" style="margin-right:40px">
        <span>defender</span><br>
        current rank: 1</p>

      <p class="w3-xlarge" style="margin-right:40px">Zensports 2020 Duel Cup - 1st place</p>
    </div>
  </div>

</div>

<div class="w3-row-padding">
  <div class="w3-third">
    <h2>About This Match</h2>
    <p>The expected match is here! The drama queen (Ch4mp) will go against King Dodger.</p>
    <p>
    There's been a lot of trash talk recently as Ch4mp mentioned Dodger in a video that he will take him finally down - <a href="https://www.youtube.com/watch?v=R3cIwnN23FM" target="_blank">"<b><i> I'm gonna difinitely crash him "</i></b></a>, but didn't take too long for mr. Dodger to respond:<br><br><i>" I'll make sure I'm rested enough and I'll fucking own you so hard. I'll abuse everything I've ever known in this game."
    Just you wait ".</i></p>
    <a href="https://twitch.tv/rocketjumpzone" target="_blank" class="w3-btn w3-round w3-center w3-padding-large w3-hover-white w3-large mobile-margin-10 w3-red w3-mobile">
        <b>
          <i class="fab fa-twitch"></i>
          WATCH ON TWITCH
        </b>
      </a>
  </div>

  <div class="w3-third">
    <div class="sharethis-inline-reaction-buttons" style="margin-top:50px"></div>
  </div>

  <div class="w3-third">
    <h2 class="w3-center">Share it</h2>
    <div class="sharethis-inline-share-buttons"></div>
  </div>

</div>

<hr>
