---
title: &title "Rainbow Shadow vs Dodger - Xonotic Ranked 5"
layout: ranked
---

<div class="w3-row ranked-container">

  <div class="w3-col w3-center">

    <h1 class="w3-center blazing w3-jumbo">Rainbow Shadow  vs Dodger - Xonotic Ranked 5</h1>

    <p class="w3-center w3-xxlarge">
      <a href="https://www.twitch.tv/rocketjumpzone" target="_blank">twitch.tv/rocketjumpzone</a><br>
      Mar 13 - 7PM CET</p>
  </div>

  <div class="w3-row-padding">
    <div class="w3-third">
      <%= image_tag 'avatar/rainbow-shadow.png', class:'w3-mobile w3-circle ranked-avatar', style:'margin-left:20px', alt: 'Rainbow Shadow' %>
      <h2 class="w3-jumbo" style="margin-left:40px;white-space: nowrap;">
        Rainbow Shadow
      </h2>
      <p class="w3-xlarge" style="margin-left:40px">Xonotic since 2018</p>

      <p class="w3-xlarge" style="margin-left:40px">
        <span>challenger</span><br>
        current rank: 3</p>

      <p class="w3-xlarge" style="margin-left:40px">Zensports 2020 Duel Cup - 5th place</p>
    </div>

    <div class="w3-third">
      <p class="w3-center mobile-margin-5" style="font-size:256px;margin-top:200px;padding:0">vs</p>
    </div>

    <div class="w3-third" style="direction: rtl">
      <%= image_tag 'avatar/dodger.png', class:'w3-mobile w3-circle ranked-avatar', style:'margin-right:20px', alt: 'Dodger' %>
      <h2 class="w3-jumbo" style="margin-right:40px">
        <a href="/player/dodger">Dodger</a>
      </h2>
      <p class="w3-xlarge" style="margin-right:40px">Xonotic since 2012</p>

      <p class="w3-xlarge" style="margin-right:40px">
        <span>defender</span><br>
        current rank: 1</p>

      <p class="w3-xlarge" style="margin-right:40px">Zensports 2020 Duel Cup - 1st place</p>
    </div>
  </div>

</div>

<div class="w3-row-padding">
  <div class="w3-third">
    <h2>About This Match</h2>
    <p>The Orangutan will be unleased to meet King Dodger. Who knows what happens ?!?!?! It's gonna be a great fight of two top tier players.</p>
    <a href="https://youtu.be/wAVYberCXeo" target="_blank" class="w3-btn w3-round w3-center w3-padding-large w3-hover-white w3-large mobile-margin-10 w3-red w3-mobile">
        <b>
          <i class="fab fa-youtube"></i>
          VOD
        </b>
      </a>
  </div>

  <div class="w3-third">
    <div class="sharethis-inline-reaction-buttons" style="margin-top:50px"></div>
  </div>

  <div class="w3-third">
    <h2 class="w3-center">Share it</h2>
    <div class="sharethis-inline-share-buttons"></div>
  </div>

</div>

<hr>
