---
title: &title "SPLAT vs Arch - Xonotic Ranked 7"
layout: ranked
---


<div class="w3-row ranked-container">

  <div class="w3-col w3-center">

    <h1 class="w3-center blazing w3-jumbo">SPLAT vs Arch - Xonotic Ranked 7</h1>

    <p class="w3-center w3-xxlarge">
      <a href="https://www.twitch.tv/rocketjumpzone" target="_blank">twitch.tv/rocketjumpzone</a><br>
      Apr 10 2021 (finished)</p>
  </div>

  <div class="w3-row-padding">
    <div class="w3-third">
      <%= image_tag 'avatar/splat.jpg', class:'w3-mobile w3-circle ranked-avatar', style:'margin-left:20px', alt: 'SPLAT' %>
      <h2 class="w3-jumbo" style="margin-left:40px">
        SPLAT
      </h2>
      <p class="w3-xlarge" style="margin-left:40px">Xonotic since 2013</p>

      <p class="w3-xlarge" style="margin-left:40px">
        <span>challenger</span><br>
        duel rank: N/A</p>

      <p class="w3-xlarge" style="margin-left:40px">ZenSports Duel Cup 2020 - N/A</p>
    </div>

    <div class="w3-third">
      <p class="w3-center mobile-margin-5" style="font-size:256px;margin-top:200px;padding:0">vs</p>
    </div>

    <div class="w3-third" style="direction: rtl">
      <%= image_tag 'avatar/arch.png', class:'w3-mobile w3-circle ranked-avatar', style:'margin-right:20px', alt: 'Arch' %>
      <h2 class="w3-jumbo" style="margin-right:40px">
        Arch
      </h2>
      <p class="w3-xlarge" style="margin-right:40px">Xonotic since 2015</p>

      <p class="w3-xlarge" style="margin-right:40px">
        <span>defender</span><br>
        duel rank: N/A</p>

      <p class="w3-xlarge" style="margin-right:40px">ZenSports Duel Cup 2020 - 5th place</p>
    </div>
  </div>

</div>

<div class="w3-row-padding">
  <div class="w3-third">
    <h2>About This Match</h2>
    <p>Yet another NA match of two beasts!</p>
    <p><b>SPLAT</b> returns to make it clear who the NA boss is. He won't have it easy though as <b>Arch</b> beat silent recently and improved a ton.</p>
    <a href="https://www.youtube.com/watch?v=JPga_EX2tck" target="_blank" class="w3-btn w3-round w3-center w3-padding-large w3-hover-white w3-large mobile-margin-10 w3-red w3-mobile">
      <b>
        <i class="fab fa-youtube"></i>
        FULL VOD
      </b>
    </a>
    <a href="https://youtu.be/A7IDL8q0ytA" target="_blank" class="w3-btn w3-round w3-center w3-padding-large w3-hover-white w3-large mobile-margin-10 w3-red w3-mobile">
      <b>
        <i class="fab fa-youtube"></i>
        Highlight
      </b>
    </a>

  </div>

  <div class="w3-third">
    <div class="sharethis-inline-reaction-buttons" style="margin-top:50px"></div>
  </div>

  <div class="w3-third">
    <h2 class="w3-center">Share it</h2>
    <div class="sharethis-inline-share-buttons"></div>
    <h2 class="w3-center">Song</h2>
    <audio controls="controls" autoplay="autoplay" style="display:block;width:70%;margin:0 auto">
      <source src="https://rocketjump.zone/files/audio/1.mp3" type="audio/mpeg">
      Your browser does not support the audio element.
    </audio>
  </div>

</div>

<hr>

<% if build? %>
  <div class="w3-content w3-container">
    <%= disqus %>
    <%= disqus_count %>
  </div>
<% end %>
