/* fix 10px margin on mobile */
@media screen and (max-width: 600px) {
  table {
    table-layout: auto;
  }

  ul {
    padding-left: 16px !important;
  }

  .w3-content {
    h1 {
      text-align: center;
    }
  }

  h2 {
    text-align: center;
    text-align: center;
    margin: 0 !important;
  }

  h3 {
    text-align: center;
  }

  h4 {
    text-align: center;
  }

  a.w3-mobile {
    &:hover {
      border: none;
    }
  }

  .mobile-margin-20 {
    display: block !important;
    margin: 20px auto !important;
  }

  .mobile-margin-20-full {
    display: block !important;
    margin: 20px auto !important;
    width: 100% !important;
    padding: 10px !important;
  }

  .mobile-margin-10 {
    display: block !important;
    margin: 10px auto !important;
  }

  .mobile-margin-5 {
    display: block !important;
    margin: 5px auto !important;
    width: 100% !important;
  }

  .mobile-reset {
    display: block !important;
    margin: 0 auto !important;
    padding: 0 !important;
  }

  .flex-item-tourney {
    transform: none !important;
  }

  .player-social {
    margin-top: 20px;

    i {
      font-size: 40px;
      margin: 10px 5px;
    }
  }

  .mobile-tooltip {
    i {
      margin: 10px 5px 5px;
    }

    img {
      margin: 10px !important;
    }
  }

  .trophy-gold-mobile {
    bottom: 0 !important;
  }

  .ranked-container {
    background-image: none;

    p {
      text-align: left;
      margin: 0 !important;
    }

    h1 {
      text-align: center;
      margin: 0 !important;
    }
  }

  span {
    text-align: left;
    margin: 0 !important;
  }

  #players {
    img.player-avatar {
      display: none;
    }

    .player-avatar {
      display: none;
    }
  }

  img.ranked-avatar {
    margin: 0 !important;
  }

  img.blog-avatar {
    margin: 0 !important;
  }

  .flex-container {
    justify-content: center !important;
  }
}
