@media screen and (min-width: 993px) {
  img.player-avatar {
    width: 120px;
    height: 120px;
    display: block;
  }

  .w3-responsive {
    overflow:hidden !important;
  }

  img.ranked-avatar {
    width: 400px;
    height: 400px;
    display: block;
  }

  img.blog-avatar {
    width: 300px;
    height: 300px;
    display: block;
  }

  .social-icons a {
    color: #dedede !important;
    padding: 8px;
    display: inline-block;

    &:hover {
      color: $main-red-color !important;
      border: none !important;
    }
  }
}
