---
title: CH1MPNOTIC
description: Ch1mpnotic is a competitive Arena Shooter which has been created by Rocket Jump Zone for Esports.
layout: ch1mpnotic
---

<div class="w3-content w3-container w3-animate-opacity">

  <h1 class="w3-center">CH1MPNOTIC</h1>
  <hr>
  <h2>About Game</h2>
  <p>Ch1mpnotic is a competitive Arena Shooter which has been created by Rocket Jump Zone for Esports.<br>
    The game is
    <b>INVITE ONLY.</b>
  </p>
  <hr>
  <h2>Quick Facts</h2>
  <ul>
    <li>The game is a fork of
      <b>Xonotic</b>
    <li>
      <u>Movement</u>
      -
      <b>CPM</b>
      like</li>
    <li>
      <u>Weapons (9)</u>
      -
      <b>Blaster, Shotgun, MachineGun, Mortar, Electro,
        <span style="border-bottom:1px groove">
          <abbr title="LG, also called Shaft">Arc</abbr>
        </span>,
        <span style="border-bottom:1px groove">
          <abbr title="Rocket Launcher">Devastator</abbr>
        </span>,
        <span style="border-bottom:1px groove">
          <abbr title="Railgun">Vortex</abbr>
        </span>, Hagar</b>
    </li>
    <li>
      <u>Modes</u>
      -
      <b>DUEL</b>, DM and CA (warmup), TDM (pickup)</li>
    <li>Official Duel Maps used in Tournaments (7) -
      <b>Aerowalk, Darkzone, Silent Siege, Final Rage, Stormkeep, Downer, Fuse</b>
    </li>
    <li>Available for
      <b>Windows, Linux, Mac</b>
    </li>
    <li>
      <u>FPS?</u>
      250+ (play on any washing marchine)</li>
  </ul>

  <hr>

  <h2>Servers</h2>
  <p>TBA</p>
  <hr>
  <h2>Play</h2>

  <p>
    <b>IN GAME Server Browser</b>
    - simply launch the game and join a server with players</p>
  <p>
    <b>WEB Server Browser</b>
    - join a server via the app (TBA)</p>
  <p>
    <b>Pickup</b>
    -
    <a href="/pickup">host a game</a>
    via the Discord Bot (ranked games)<p>

      <hr>
      <h2>Config / Console</h2>
      <p>press "~" or "shift + esc" to open the console</p>
      <ul>
        <li>There are 2 pre-made configs:<br>
          <u>Competitive (default)</u>&nbsp;
          <kbd>exec player.cfg</kbd>
          (textures off, simple items (2D), HUD, reduced effects..)<br>
          <u>Caster</u>
          <kbd>exec caster.cfg</kbd>&nbsp; (texturees on, normal items (3D), HUD, eye candy..)</li>
        <li>In game vote / call commands:
          <b>vcall chmap map</b>
          (vote for a diff map),
          <b>vcall endmatch</b>
          (call a gg, end match)<br>
          <b>vcall restart</b>
          (restart current map),
          <b>vcall nextmap</b>
          (vote for a next map)</li>
        <li>
          <u>more useful commands:</u><br>
          "vcall cointoss" - heads or tails?<br>
          "vcall bots", "vcall nobots" - who needs bots? our playerbase is huge<br>
          "lsmaps" - print names of all available maps<br>
          "timeout", "timein" - pause and unpause the game<br>
          <u>shortcuts:</u><br>
          "q" - quit, "d" - disconnect, "s" - spec, "r" - ready
        </li>
      </ul>

      <p>
        where is your config located (that's also the place to put 3rd party assets):</p>
      <i class="fab fa-2x fa-linux"></i>
      &nbsp;&nbsp; ~/.ch1mpnotic/data
      <br>
      <i class="fab fa-2x fa-windows"></i>
      &nbsp;&nbsp; C:\Users\username\Saved Games\ch1mpnotic\data<br>
      <i class="fab fa-2x fa-apple"></i>
      &nbsp;&nbsp; ~/Library/Application Support/ch1mpnotic/data

      <hr>

      <h2>FAQ</h2>
      <h3>Is the game free to play?</h3>
      <p>Yes, and under GPLv3+ license</p>

      <h3>Is the game compatible with Xonotic?</h3>
      <p>No.</p>

      <h3>Why is the game invite only?</h3>
      <p>Our goal is not to get as many players in as possible. We want a player base of active duel players who take competition seriously.</p>

      <h3>Can I contribute?</h3>
      <p>Sure, check out
        <a href="https://github.com/rocketjumpzone/xonotic-data.pk3dir">the repo</a>
        or support us
        <a href="https://rocketjump.zone/contribute">financionaly</a>
        for game development and servers.</p>
        <hr>
      <div class="w3-center social-icons">
        <a style="text-decoration:none" href="https://twitter.com/rocketjumpzone" target="_blank">
          <i class="fab fa-2x fa-twitter"></i>
        </a>
        <a style="text-decoration:none" href="https://www.youtube.com/channel/UCYZbIYOuM8S1wq85GoWE4qA" target="_blank">
          <i class="fab fa-2x fa-youtube"></i>
        </a>
        <a style="text-decoration:none" href="https://rocketjump.zone/discord" target="_blank">
          <i class="fab fa-2x fa-discord"></i>
        </a>
        <a style="text-decoration:none" href="https://www.twitch.tv/rocketjumpzone" target="_blank">
          <i class="fab fa-2x fa-twitch"></i>
        </a>
        <a style="text-decoration:none" href="https://rocketjump.zone/github" target="_blank">
          <i class="fab fa-2x fa-github"></i>
        </a>
        <a style="text-decoration:none" href="https://rocketjump.zone/patreon" target="_blank">
          <i class="fab fa-2x fa-patreon"></i>
        </a>
      </div>
    </div>
