---
title: Ch1mpnotic Arena Shooter
description: Ch1mpnotic is a highly competitive Arena Shooter which has been created by Rocket jump Zone for Esports. The game is exclusively DUEL only.
layout: ch1mpnotic
---


<div class="w3-content w3-container w3-animate-opacity">

  <h1 class="w3-center">Ch1mpnotic Arena Shooter</h1>
  <hr>

  <div class="w3-center">
    <a href="#" class="w3-btn w3-round w3-padding-large w3-hover-white w3-large mobile-margin-10 w3-red w3-mobile">
      <i class="fas fa-download"></i>
      <b>DOWNLOAD - TBD MB
      </b>
      <br>CH1MPNOTIC 0.1 BETA (INVITE ONLY)
    </a>
    <p>
      <a href="#installation">Installation Notes</a>
      <span style="color:#787887">|</span>
      <a href="/contribute" target="_blank">Donate to Project</a>
    </p>
  </div>
  <hr>
  <h2>About Game</h2>
  <p>Ch1mpnotic is a highly competitive Arena Shooter which has been created by Rocket jump Zone for Esports.<br>
    The game is exclusively
    <b>DUEL</b>
    only.
  </p>


  <hr>
  <h2 id="installation">Installation</h2>
  <p>The game is
    <strong>free to play</strong>
    and available for
    <strong>Windows, Linux, Mac OS</strong>.
  </p>

<hr>
  <div class="w3-center social-icons">
    <a style="text-decoration:none" href="https://twitter.com/rocketjumpzone" target="_blank">
      <i class="fab fa-2x fa-twitter"></i>
    </a>
    <a style="text-decoration:none" href="https://www.youtube.com/channel/UCYZbIYOuM8S1wq85GoWE4qA" target="_blank">
      <i class="fab fa-2x fa-youtube"></i>
    </a>
    <a style="text-decoration:none" href="https://rocketjump.zone/discord" target="_blank">
      <i class="fab fa-2x fa-discord"></i>
    </a>
    <a style="text-decoration:none" href="https://www.twitch.tv/rocketjumpzone" target="_blank">
      <i class="fab fa-2x fa-twitch"></i>
    </a>
    <a style="text-decoration:none" href="https://rocketjump.zone/github" target="_blank">
      <i class="fab fa-2x fa-github"></i>
    </a>
    <a style="text-decoration:none" href="https://rocketjump.zone/patreon" target="_blank">
      <i class="fab fa-2x fa-patreon"></i>
    </a>
  </div>
</div>
