<div class="w3-row">

  <div class="w3-half">

    <a href="https://rocketjump.zone/donate" target="_blank" class="w3-btn w3-margin-top w3-round w3-center w3-padding-large w3-hover-white w3-large mobile-margin-10 w3-red w3-mobile">
      <b><i class="fa-solid fa-gift"></i>
        STREAM LIVE DONATION<br>
        (StreamLabs)
      </b>
    </a>
    <p style="margin-top:0">
      <small>All donations show alerts during the stream</small>
    </p>
  </div>
  <div class="w3-half">
    <!--
    <h2>Become a Zensportsian!</h2>
    <p>ZenSportsians are a collection of 10,000 randomly generated e-athletes that provide utility benefits through the ZenSportsia metaverse and ZenSports online gaming community and sports betting app.</p>

    <p>Use our Sign up code
      <a href="https://zensports.com/zensportsia/" class="w3-tag w3-hover-white w3-red mobile-margin-20-full" style="color:#dedede;border:none;padding-bottom:2px" target="_blank">
        <b>RJZONE</b>
      </a>
      to become a ZenSportsian and the
      <a href="https://zensports.com/" target="_blank">ZenSports app</a>
      start bonus in SPORTS tokens.</p>
    <a href="https://zensports.com/zensportsia/" style="border:none">
      <%= image_tag 'logos/zensportsia.jpg', class:'w3-opacity w3-hover-opacity-off w3-margin-top mobile-margin-10 w3-image', alt: 'Zensportsia Logo' %>
    </a>
-->
  </div>

</div>
