<div class="w3-row w3-margin-top">

  <div class="w3-half">
    <a href="https://rocketjump.zone/donate" style="width:300px" target="_blank" class="w3-btn w3-round w3-center w3-padding-large w3-hover-white w3-large mobile-margin-10 w3-red w3-mobile">
      <b>
        <i class="fa-solid fa-gift"></i>
        STREAM LIVE DONATION<br>
        (StreamLabs)
      </b>
    </a>
    <a href="https://rocketjump.zone/patreon" style="width:300px" target="_blank" class="w3-btn w3-round w3-center w3-padding-large w3-hover-white w3-large mobile-margin-10 w3-red w3-mobile">
      <b>
        <i class="fa-brands fa-patreon"></i>
        PATREON SUBSCRIPTION<br>
        (Join our $1/mo campaign)
      </b>
    </a>
    <p style="margin-top:0">
      <small>All donations show alerts during the stream</small>
    </p>
  </div>

  <div class="w3-half">
    <h2>Referral Links</h2>

    <table class="w3-table w3-bordered" style="table-layout: auto">
      <tr style="background:#131316">
        <td>
          <a href="https://www.kucoin.com/ucenter/signup?rcode=r3CWJ8W" target="_blank">KuCoin</a>
        </td>
        <td>
          <strong>Buy Crypto (Bitcoin, Ethereum, +600 more)</strong><br>
          Sign Up Code for KuCoin -
          <kbd>r3CWJ8W</kbd><br>(Get start bonus and 10% off fees from us)
        </td>
      </tr>
      <tr style="background:#131316">
        <td>
          <a href="https://www.humblebundle.com/monthly?refc=kbYJfs" target="_blank">Humble Bundle</a>
        </td>
        <td>Buy cheap games, support charity</td>
      </tr>
      <tr style="background:#131316">
        <td>
          <a href="https://patreon.com/invite/pnwqro" target="_blank">Patreon</a>
        </td>
        <td>Are you a content creator? Let your fans support you via Patreon</td>
      </tr>
      <tr style="background:#131316">
        <td>
          <a href="https://www.namesilo.com/register.php?rid=2b57923hc" target="_blank">NameSilo</a>
        </td>
        <td>Need a website domain? go with NameSilo</td>
      </tr>
      <tr style="background:#131316">
        <td>
          <a href="https://www.linode.com/?r=fec37364d873ec194adf24d73c7ac1f21c125f03" target="_blank">Linode</a>
        </td>
        <td>Need a VPS? go with Linode</td>
      </tr>
    </table>
  </div>

</div>
