<div class="w3-row w3-margin-top">

  <div class="w3-half">
    <div class="w3-row w3-margin-top">

      <h3>DONATE</h3>

      <div class="w3-third">
        <a href="https://www.paypal.me/ch4mp" style="width:300px" target="_blank" class="w3-btn w3-round w3-center w3-padding-large w3-hover-white mobile-margin-10 w3-red w3-mobile">
          <b class="w3-xlarge">
            PAYPAL</b><br>
            admin@rocketjump.zone
        </a>
      </div>

      <div class="w3-third">
        <a href="https://rocketjump.zone/donate" style="width:300px" target="_blank" class="w3-btn w3-round w3-center w3-padding-large w3-hover-white mobile-margin-10 w3-red w3-mobile">
          <b class="w3-xlarge">
            STREAM LIVE</b><br>
            streamlabs alert donation
        </a>
      </div>

      <div class="w3-third">
        <a href="https://www.patreon.com/rocketjumpzone" style="width:300px" target="_blank" class="w3-btn w3-round w3-center w3-padding-large w3-hover-white mobile-margin-10 w3-red w3-mobile">
          <b class="w3-xlarge">
            PATREON</b><br>
            monthly subscription
        </a>
      </div>

    </div>

    <hr>

    <div class="w3-row-padding w3-margin-top">
      <h3>CRYPTO</h3>

    <p><b>ckUSDC:</b> crs2z-f6had-gjdvj-bmte6-67ezk-6jc35-4ip56-h3h32-omxfy-feyrl-gae</p>

    <p>In case you want to send USDC or USDT, contact us.</p>


    </div>
  </div>

  <div class="w3-half">
    <h2>Referral Links</h2>

    <table class="w3-table w3-bordered" style="table-layout: auto">
      <tr style="background:#131316">
        <td>
          <a href="https://www.kucoin.com/r/rf/r3CWJ8W" target="_blank">KuCoin</a>
        </td>
        <td>
          <strong>Buy Crypto (Bitcoin, Ethereum, +600 more)</strong><br>
          Sign Up Code for KuCoin -
          <kbd>r3CWJ8W</kbd><br>(Get start bonus and 10% off fees from us)
        </td>
      </tr>
      <tr style="background:#131316">
        <td>
          <a href="https://www.binance.com/en/activity/referral-entry/CPA?fromActivityPage=true&ref=CPA_00B1T3YJAB" target="_blank">Binance</a>
        </td>
        <td>
          <strong>Buy Crypto (Biggest Crypto Exchange)</strong><br>
          Sign Up Code for Binance -
          <kbd>CPA_00B1T3YJAB</kbd><br>(Get 100 USDT Trading Fee Credit)
        </td>
      </tr>
      <tr style="background:#131316">
        <td>
          <a href="https://www.humblebundle.com/monthly?refc=kbYJfs" target="_blank">Humble Bundle</a>
        </td>
        <td>Buy cheap games, support charity</td>
      </tr>
      <tr style="background:#131316">
        <td>
          <a href="https://patreon.com/invite/pnwqro" target="_blank">Patreon</a>
        </td>
        <td>Are you a content creator? Let your fans support you via Patreon</td>
      </tr>
      <tr style="background:#131316">
        <td>
          <a href="https://www.namesilo.com/register.php?rid=2b57923hc" target="_blank">NameSilo</a>
        </td>
        <td>Need a website domain? go with NameSilo</td>
      </tr>
      <tr style="background:#131316">
        <td>
          <a href="https://www.linode.com/?r=fec37364d873ec194adf24d73c7ac1f21c125f03" target="_blank">Linode</a>
        </td>
        <td>Need a VPS? go with Linode</td>
      </tr>
    </table>
  </div>

</div>
