<div class="flex-item-hof">
  <h3>
    <a class="item" href="/prodeus/duel-cup-1" target="_blank">RJZ Prodeus Duel Cup 1</a>
  </h3>

  <div class="w3-mobile trophy-silver">
    <%= image_tag '/images/silver.png', alt: 'trophy silver', title: 'Segaman' %><br>
    <abbr title="Segaman">Segaman</abbr>
  </div>

  <div class="w3-mobile trophy-gold trophy-gold-mobile" style="position:relative;bottom:10px">
    <%= image_tag '/images/gold.png', alt: 'trophy gold', title: 'HUECTRUM' %><br>
    <abbr title="HUECTRUM">HUECTRUM</abbr>
  </div>

  <div class="w3-mobile trophy-bronze">
    <%= image_tag '/images/bronze.png', alt: 'trophy bronze', title: 'Not Available' %><br>
    <abbr title="Not Available">N/A</abbr>
  </div>

  <hr style="margin:10px 5px">
  <small>
    Nov 6, 2022
    &nbsp;&nbsp; 5 prs
  </small>
</div>
