<div class="flex-item-hof">
  <h3>
    <a class="item" href="https://challonge.com/DBDUELLeague" target="_blank">DOOMBRINGER Duel League 2022</a>
  </h3>

  <div class="w3-mobile trophy-silver">
    <%= image_tag '/images/silver.png', alt: 'trophy silver' %><br>
    <abbr title="Signis">Signis</abbr>
  </div>

  <div class="w3-mobile trophy-gold trophy-gold-mobile" style="position:relative;bottom:10px">
    <%= image_tag '/images/gold.png', alt: 'trophy gold' %><br>
    <abbr title="ZorakWar">ZorakWar</abbr>
  </div>

  <div class="w3-mobile trophy-bronze">
    <%= image_tag '/images/bronze.png', alt: 'trophy bronze' %><br>
    <abbr title="Reki">Reki</abbr>
  </div>

  <hr style="margin:10px 5px">
  <small>
    Jan 3, 2022 &nbsp;&nbsp; €1000
    &nbsp;&nbsp; 19prs
  </small>
</div>
