<!-- MOBILE NAVIGATION -->

<i onclick="toogle('nav')" class="fas fa-2x fa-bars w3-hide-large w3-hide-medium" style="margin:24px;cursor:pointer"></i>

<div id="nav" class="w3-hide w3-hide-large w3-hide-medium w3-center w3-animate-bottom">

  <div class="w3-bar-block w3-black">
    <a href="/" class="w3-bar-item w3-button w3-mobile">
      Frontpage
    </a>
    <a class="w3-bar-item w3-button w3-mobile" href="/browser">
      Browser
    </a>
    <a class="w3-bar-item w3-button w3-mobile" href="/players">
      Players / Ranks
    </a>
    <a class="w3-bar-item w3-button w3-mobile" href="/hall-of-fame">
      Hall of Fame
    </a>
    <a class="w3-bar-item w3-button w3-mobile" href="/blog">
      Blog
    </a>
    <a class="w3-bar-item w3-button w3-mobile" href="/about">
      About
    </a>
    <a class="w3-bar-item w3-button w3-mobile" href="/contribute">
      Contribute
    </a>

  </div>

</div>

<script>
  function toogle(id) {
    var x = document.getElementById(id);
    if (x.className.indexOf("w3-show") == -1) {
      x.className += " w3-show";
    } else {
      x.className = x.className.replace(" w3-show", "");
    }
  }
</script>
