
<div class="w3-bar-container w3-center w3-hide-small w3-animate-opacity">
  <div class="w3-bar">
    <a href="/" style="border:none">
      <%= image_tag 'rjz-logo-trans.png', class:'w3-image grow w3-left w3-margin', alt: 'RJZ Logo' %>
    </a>
    <a class="w3-bar-item w3-button w3-round w3-margin <%= active_nav_item("/players/") %>" href="/players">
      Players / Ranks
    </a>
    <a class="w3-bar-item w3-button w3-round w3-margin <%= active_nav_item("/hall-of-fame/") %>" href="/hall-of-fame">
      Hall of Fame
    </a>
    <a class="w3-bar-item w3-button w3-round w3-margin" href="#xonotic-jump">
      Xonotic (20)
    </a>
    <a class="w3-bar-item w3-button w3-round w3-margin" href="#qc-jump">
      Quake (55)
    </a>
    <a class="w3-bar-item w3-button w3-round w3-margin" href="#diabotical-jump">
      Diablotical (12)
    </a>
    <a class="w3-bar-item w3-button w3-round w3-margin" href="#prodeus-jump">
      Prodeus (1)
    </a>
  </div>
</div>
