<i onclick="toogle('nav')" class="fas fa-2x fa-bars w3-hide-large" style="margin:24px;cursor:pointer"></i>

<div class="w3-bar-container w3-center w3-hide-small w3-hide-medium">
<div class="w3-bar">

  <a href="https://rocketjump.zone" class="w3-bar-item w3-button">
    <span class="w3-bottombar w3-hover-border-red">ROCKETJUMP.ZONE</span>
  </a>
  <a class="w3-bar-item w3-button <%= active_nav_item("/ch1mpnotic/server-browser/") %>" href="/ch1mpnotic/server-browser">
    <span class="w3-bottombar w3-hover-border-red">SERVER BROWSER</span>
  </a>
  <a class="w3-bar-item w3-button <%= active_nav_item("/ch1mpnotic/leaderboard/") %>" href="/ch1mpnotic/leaderboard">
    <span class="w3-bottombar w3-hover-border-red">LEADERBOARD</span>
  </a>
  <a class="w3-bar-item w3-button <%= active_nav_item("/ch1mpnotic/") %>" href="/ch1mpnotic">
    <span class="w3-bottombar w3-hover-border-red">GAME</span>
  </a>
  <a class="w3-bar-item w3-button" href="/blog/tags/ch1mpnotic" target="_blank">
    <span class="w3-bottombar w3-hover-border-red">BLOG</span>
  </a>

  </div>
</div>

<!-- MOBILE NAVIGATION -->

<div id="nav" class="w3-hide w3-hide-large w3-center w3-animate-bottom">

  <div class="w3-bar-block w3-black">
    <a href="https://rocketjump.zone" class="w3-bar-item w3-button w3-mobile">
      ROCKETJUMP.ZONE
    </a>
    <a class="w3-bar-item w3-button w3-mobile" href="/ch1mpnotic/server-browser">
      SERVER BROWSER
    </a>
    <a class="w3-bar-item w3-button w3-mobile" href="/ch1mpnotic/leaderboard">
      LEADERBOARD
    </a>
    <a class="w3-bar-item w3-button w3-mobile" href="/ch1mpnotic">
      GAME
    </a>
    <a class="w3-bar-item w3-button w3-mobile" href="/blog/tags/ch1mpnotic">
      BLOG
    </a>

  </div>


</div>


<script>
  function toogle(id) {
    var x = document.getElementById(id);
    if (x.className.indexOf("w3-show") == -1) {
      x.className += " w3-show";
    } else {
      x.className = x.className.replace(" w3-show", "");
    }
  }
</script>
