<div class="w3-panel w3-round" style="background:#131316;width:100%;border-left:6px solid #2F2F37">
<p><a href="https://stats.xonotic.org/server/40582" target="_blank">Duel 1 - Frankfurt | RJZ Esports</a> -&nbsp;
  <kbd>172.104.152.97</kbd>
</p>
</div>
