<div class="w3-panel w3-round" style="background:#131316;width:100%;border-left:6px solid #2F2F37">
<p><a href="https://stats.xonotic.org/server/40582" target="_blank">Origin | RJZ (64tick, Frankfurt)</a> -&nbsp;
  <kbd>172.104.152.97</kbd>
</p>
<p><a href="https://stats.xonotic.org/server/43002" target="_blank">Phoenix | RJZ (64tick, Frankfurt)</a> -&nbsp;
  <kbd>130.61.220.89</kbd>
</p>
<p><a href="https://stats.xonotic.org/server/43683" target="_blank">Hell | RJZ (64tick, Frankfurt)</a> -&nbsp;
  <kbd>130.61.220.89</kbd>
</p>
<p>Battle Royale | RJZ (64tick, Frankfurt) -&nbsp;
  <kbd>193.122.48.73</kbd>
</p>
</div>
