<div class="w3-panel w3-round" style="background:#131316;width:100%;border-left:6px solid #2F2F37">
<p><a href="https://stats.xonotic.org/server/27992" target="_blank">Duel 1 - Frankfurt | ZS x RJZ Esports</a> -&nbsp;
  <kbd>172.105.76.71</kbd>
</p>

<p><a href="http://stats.xonotic.org/server/28424" target="_blank">Duel 2 - London | ZS x RJZ Esports</a> -&nbsp;
  <kbd>212.71.239.248</kbd>
</p>

<p><a href="http://stats.xonotic.org/server/28624" target="_blank">Duel 3 - New York | ZS x RJZ Esports</a> -&nbsp;
  <kbd>45.79.161.168</kbd>
</p>

<p><a href="http://stats.xonotic.org/server/30014" target="_blank">Duel 4 - Frankfurt | ZS x RJZ Esports</a> -&nbsp;
  <kbd>192.46.234.64</kbd>
</p>

<p><a href="http://stats.xonotic.org/server/30019" target="_blank">Duel 5 - London | ZS x RJZ Esports</a> -&nbsp;
  <kbd>139.162.227.96</kbd>
</p>

<p><a href="http://stats.xonotic.org/server/30016" target="_blank">Duel 6 - Frankfurt | ZS x RJZ Esports</a> -&nbsp;
  <kbd>172.104.151.95</kbd>
</p>

<p><a href="http://stats.xonotic.org/server/30015" target="_blank">Duel 7 - Frankfurt | ZS x RJZ Esports</a> -&nbsp;
  <kbd>192.46.232.87</kbd>
</p>
<p><a href="https://stats.xonotic.org/server/31049" target="_blank">Duel 8 - Frankfurt | ZS x RJZ Esports</a> -&nbsp;
  <kbd>194.195.243.83</kbd>
</p>
<p><a href="https://stats.xonotic.org/server/31068" target="_blank">Duel 9 - London | ZS x RJZ Esports</a> -&nbsp;
  <kbd>88.80.186.5</kbd>
</p>
</div>
