<!-- mobile and tablet social links version -->
<div class="w3-hide-large w3-hide-medium w3-center w3-margin-top social-icons-mobile">
  <hr>
  <a href="https://rocketjump.zone/youtube" target="_blank" style="text-decoration:none;font-size:25px">
    <i class="fab fa-2x fa-youtube"></i>
  </a>
  <a href="https://rocketjump.zone/discord" target="_blank" style="text-decoration:none;font-size:25px">
    <i class="fab fa-2x fa-discord"></i>
  </a>
  <a href="https://rocketjump.zone/donate" target="_blank" style="text-decoration:none;font-size:25px">
    <i class="fab fa-2x fa-paypal"></i>
  </a>
</div>
<!-- end of mobile and tablet social links version -->
