---
title: &title "Beef Brawl - Ch4mp vs Tommy - 100 Aerowalks Challenge"
layout: ranked
---

<div class="w3-row ranked-container" style="background-image: url('/images/xonotic/backgrounds/aerowalk.jpg')">

  <div class="w3-col w3-center">

    <h1 class="w3-center blazing w3-jumbo">Beef Brawl<br>Ch4mp vs Tommy - 100 Aerowalks Challenge</h1>

    <div class="flex-container" style="justify-content:space-around">

      <div class="flex-item-tourney w3-animate-zoom w3-round w3-mobile" style="padding:0">
        <h5 class="w3-center">CURRENT SCORE</h5>
        <div class="w3-row">
          <div class="w3-twothird">
            <h4>Ch4mp</h4>
            <hr style="margin-top:0">
            <h4>Tommy</h4>
          </div>

          <div class="w3-third" style="background:#2f2f37;border-radius:0 4px 4px 0">
            <h4>37</h4>
            <hr style="margin-top:0">
            <h4>13</h4>
          </div>
        </div>
      </div>


    </div>

  </div>

  <div class="w3-row-padding">

    <div class="w3-third">
      <%= image_tag 'avatar/tommy.png', class:'w3-mobile w3-circle ranked-avatar', style:'margin-right:20px', alt: 'Tommy' %>

      <h2 class="w3-jumbo" style="margin-right:40px">
        <a href="/player/tommy">Tommy</a>
      </h2>
      <p class="w3-xlarge" style="margin-right:40px">Big Nex</p>

      <p class="w3-xlarge" style="margin-right:40px">
        <span>challenger</span><br>
        duel rank 2024: A <sup>3</sup></p>

    </div>



    <div class="w3-third">
      <p class="w3-center mobile-margin-5" style="font-size:256px;margin-top:150px;padding:0">vs</p>
    </div>

    <div class="w3-third" style="direction: rtl">
      <%= image_tag 'avatar/ch4mp2.jpg', class:'w3-mobile w3-circle ranked-avatar', style:'margin-left:20px', alt: 'Ch4mp' %>
      <h2 class="w3-jumbo" style="margin-left:40px">
        <a href="/player/ch4mp">Ch4mp</a>
      </h2>
      <p class="w3-xlarge" style="margin-left:40px">The rocket god</p>

      <p class="w3-xlarge" style="margin-left:40px">
        <span>defender</span><br>
        duel rank 2024: S <sup>4</sup></p>

    </div>




  </div>

</div>

<div class="w3-row-padding" style="margin-bottom:150px">
  <div class="w3-third">
    <h2>About This Event</h2>
    <p>Tommy out of the blue challenged Ch4mp for a 100 aerowalks... probably motivated since his recent wins.<br> Ch4mp however feels no threat since he beat Tommy
      in duel league 2024 and Tommy is going to be for him just a good breakfast.
      </p>

      <p><b>Format:</b> Whoever wins 51 matches wins this battle. <b>We play every Sunday at 21 CET</b> and do usually 10 aerowalks straight.</p>
      <p><b>The Bet:</b> If Tommy loses he has to say in front of everybody: <strong>I Respect you Ch4mp</strong><br>
        If Ch4mp loses he has to play 100 boils vs Allotropy.</p>
    <a href="https://youtu.be/kMFzwNQ9I0U" target="_blank" class="w3-btn w3-round w3-center w3-padding-large w3-hover-white w3-large mobile-margin-10 w3-red w3-mobile">
      <b>
        <i class="fab fa-youtube"></i>
        Trash Talk
      </b>
    </a>

    <a href="https://www.youtube.com/watch?v=tieqZ36RWl4" target="_blank" class="w3-btn w3-round w3-center w3-padding-large w3-hover-white w3-large mobile-margin-10 w3-red w3-mobile">
      <b>
        <i class="fab fa-youtube"></i>
        Round 1
      </b>
    </a>

    <a href="https://www.youtube.com/watch?v=c4bUFBpWNsU" target="_blank" class="w3-btn w3-round w3-center w3-padding-large w3-hover-white w3-large mobile-margin-10 w3-red w3-mobile">
      <b>
        <i class="fab fa-youtube"></i>
        Round 2
      </b>
    </a>

    <a href="https://youtu.be/l40zGE3kUgk" target="_blank" class="w3-btn w3-round w3-center w3-padding-large w3-margin-top w3-hover-white w3-large mobile-margin-10 w3-red w3-mobile">
      <b>
        <i class="fab fa-youtube"></i>
        Round 3
      </b>
    </a>

    <a href="https://youtu.be/SajLOGjhPFk" target="_blank" class="w3-btn w3-round w3-center w3-padding-large w3-margin-top w3-hover-white w3-large mobile-margin-10 w3-red w3-mobile">
      <b>
        <i class="fab fa-youtube"></i>
        Round 4
      </b>
    </a>

    <a href="https://youtu.be/0LgoY5Ck9J0" target="_blank" class="w3-btn w3-round w3-center w3-padding-large w3-margin-top w3-hover-white w3-large mobile-margin-10 w3-red w3-mobile">
      <b>
        <i class="fab fa-youtube"></i>
        Round 5
      </b>
    </a>

  </div>

  <div class="w3-third">
    <div class="sharethis-inline-reaction-buttons" style="margin-top:50px"></div>
  </div>

  <div class="w3-third">
    <h2 class="w3-center">Share it</h2>
    <div class="sharethis-inline-share-buttons"></div>
    <h2 class="w3-center">Song</h2>
    <audio controls="controls" autoplay="autoplay" style="display:block;width:70%;margin:0 auto">
      <source src="https://rocketjump.zone/files/audio/3.mp3" type="audio/mpeg">
      Your browser does not support the audio element.
    </audio>
  </div>

</div>

<hr>

<% if build? %>
  <div class="w3-content w3-container">
    <%= disqus %>
    <%= disqus_count %>
  </div>
<% end %>
