---
title: International 2v2 TDM Cup 3
date: "Dec 5, 2020"
prize_money: 70
layout: tourney
---

<h1 class="w3-center">International 2v2 TDM Cup 3</h1>

<div class="w3-row" tourney-menu="">
  <a href="javascript:void(0)" onclick="openCity(event, 'London');">
    <div class="w3-third tablink w3-bottombar w3-center w3-border-red w3-padding">
      <b>OVERVIEW</b>
    </div>
  </a>
  <a href="javascript:void(0)" onclick="openCity(event, 'Paris');">
    <div class="w3-third tablink w3-bottombar w3-center w3-padding">
      <b>PARTICIPANTS &amp; BRACKETS</b>
    </div>
  </a>
  <a href="javascript:void(0)" onclick="openCity(event, 'Tokyo');">
    <div class="w3-third tablink w3-bottombar w3-center w3-padding">
      <b>MEDIA</b>
    </div>
  </a>
</div>

<div id="London" class="city w3-animate-opacity" style="display:block">
  <div class="w3-row" style="background:#0e0e10;padding:16px 0 16px 0">
    <div class="w3-col l4">
      <table class="w3-table">
        <tr>
          <td class="w3-border-0">
            <b>
              Game:</b>
          </td>
          <td class="w3-border-0"><img src="../../images/qc-icon.png" alt="Quake Champions">
            Quake Champions</td>
        </tr>
        <tr>
          <td>
            <b>Tournament Start:</b>
          </td>
          <td style="font-weight:bold">
            Dec 5, 8 PM CET / 2 PM EST -
            <div class="w3-tooltip mobile-tooltip" style="display:inline">
              <span style="border-bottom:1px groove">timezones</span>
              <span style="position:absolute;left:0;bottom:-50px;width:300px" class="w3-text w3-tag w3-padding w3-animate-opacity-faster w3-round">9 EET, 7 WET, 10 MSK, 11 PST, 1 CST
                <br><hr style="margin:6px 0 2px 0">
                <a href="https://www.worldtimebuddy.com/" target="_blank">worldtimebuddy.com</a>&nbsp;&nbsp;<a href="https://timee.io/" target="_blank">timee.io</a>
              </span>
            </div>

            <br>
            <small style="font-weight:normal">check in opens 30 mins before start</small>
          </td>
        </tr>

        <tr>
          <td>
            <b>
              Tournament End:</b>
          </td>
          <td>
            4 hrs to finish tournament
          </td>
        </tr>

        <tr>
          <td>
            <b>
              Rating:</b>
          </td>
          <td>all</td>
        </tr>

        <tr>
          <td>
            <b>
              Location:</b>
          </td>
          <td>
            EUROPE, NORTH AMERICA</td>
        </tr>
        <tr>
          <td>
            <b>
              Registration:</b>
          </td>
          <td>
            <b>Challonge: &nbsp;<a href="https://rocketjumpzone.challonge.com/w5lqf9y1" target="_blank">EU Team</a>&nbsp;&nbsp;
              <a href="https://rocketjumpzone.challonge.com/322ypavf" target="_blank">NA Team</a><br>
              <a href="https://rocketjumpzone/discord" target="_blank">Register via Discord #registration</a>
            </b>
          </td>
        </tr>

      </table>
    </div>

    <div class="w3-col l4">
      <div class="flex-container w3-center">
        <div class="flex-item-results">
          <h2>Final Results</h2>

          <div class="w3-mobile trophy-silver">
            <%= image_tag '/images/silver.png', alt: 'trophy silver', title: 'TBD' %><br>
            <abbr title="TBD">TBD</abbr>
          </div>

          <div class="w3-mobile trophy-gold trophy-gold-mobile" style="position:relative;bottom:10px">
            <%= image_tag '/images/gold.png', alt: 'trophy gold', title: 'TBD' %><br>
            <abbr title="TBD">TBD</abbr>
          </div>

          <div class="w3-mobile trophy-bronze">
            <%= image_tag '/images/bronze.png', alt: 'trophy bronze', title: 'N/A' %><br>
            <abbr title="TBD">N/A</abbr>
          </div>
        </div>
      </div>
    </div>

    <div class="w3-col l4">
      <h3>Prize Money Tournament:
        <b>$
          <%= current_page.data.prize_money %></b>
      </h3>
      <p class="w3-mobile">
        <b>1st place:</b>
        70% of the prize pool
      </p>
      <p class="w3-mobile">
        <b>2nd place:</b>
        30% of the prize pool
      </p>
      <p class="w3-mobile">
        <b>3rd place:</b>
        there is no third place
      </p>

      <a href="/contribute" target="_blank" class="w3-btn w3-round w3-centerw w3-margin-top w3-padding-large w3-hover-white w3-large mobile-margin-10 w3-red w3-mobile">
        <b>
          <i class="far fa-credit-card"></i>
          <i class="fab fa-paypal"></i>
          DONATE
        </b>
      </a>

    </div>
  </div>

  <hr style="margin:0">

  <div class="w3-row w3-auto">
    <div class="w3-half">

      <h2 class="w3-center" id="rules">Rules &amp; FAQ</h2>

      <p>Two brackets - NA and EU. Winner of each bracket advances into the grand finals.</p>

      <h3>
        <u>GAME RULES:</u>
      </h3>

      <p>
        <b>Mode:</b>
        2v2 TDM Ranked<br>
        <b>Time limit:</b>
        15 minutes<br>
        <b>Frag limit:</b>
        50</p>

      <ul>
        <li>No Champion Duplicates per team</li>
        <li>No Champion Bans</li>
        <li>Champion switch allowed</li>

      </ul>

      <h4>MAP POOL:</h4>
      <p>
        Awoken, Blood Covenant, Tower of Koth, Corrupted Keep, Ruins of Sarnath,<br>
        The Molten Falls, Deep Embrace
      </p>

      <h3>
        <u>TOURNAMENT RULES:</u>
      </h3>

      <p>
        <b>Structure:</b>
        Double elimination<br>
        <b>Max Slots:</b>
        16<br>
        <b>Forfeit:</b>
        10 mins delay<br>
        <b>Admins:</b>
        Ch4mp
      </p>

      <p>
        <b>Semifinals:</b>
        Best of 3<br>
        <b>Finals:</b>
        Best of 3<br>
        <b>Grand Finals (NA vs EU):</b>
        Best of 5<br>
        <b>Everything else is Best of 1</b>
      </p>

      <p>
        <b>Best of 1:</b>
        Ban (H), Ban (L), Ban (H), Ban (L), Ban (H), Ban (L), Remaining map<br>
        <b>Best of 3:</b>
        Ban (H), Ban (L), Pick (H), Pick (L), Ban (H), Ban (L), Tiebreaker<br>
        <b>Best of 3 Finals:</b>
        Ban (L), Ban (W), Pick (L), Pick (W), Ban (L), Ban (W), Tiebreaker<br>
        <b>Best of 5:</b>
        Ban, Ban, Pick, Pick, Pick, Pick, Tiebreaker
      </p>

      <hr>

      <h3>Server decision for the Grand Finals?</h3>
      <p>We will try to find the best ping solution for both teams.<br>For example US West and EU Central - server will be probably NA East.<br>
        If US East and EU Central - 1 game US server 1 game NA server.</p>

      <h3>How to play?</h3>
      <p>Create a lobby, invite your opponent, report match results. If it's your first time in a tournament, you might want to check out our
        <a href="https://rocketjump.zone/blog/tournament-guides/" target="_blank">tourmanet guides</a>
      </p>

      <h3>How to support tournaments?</h3>
      <p>Best to join our
        <a href="/patreon" target="_blank">&euro;1/mo patreon campaign</a>
      </p>

    </div>

    <div class="w3-half w3-center">
      <h2>Sponsors &amp; Donators</h2>
      <p>$10 - Jbacc, festiveturtle (last international tourney), $60 - abad</p>

      <h2>Contact</h2>
      <a href="https://rocketjump.zone/discord" target="_blank">
        <div class="join-us">
          <i class="fab fa-3x fa-discord"></i>
          <p>Join Discord</p>
        </div>
      </a>

      <h2>Share Tournament</h2>
      <div class="sharethis-inline-share-buttons"></div>
    </div>
  </div>

  <!-- end of Overview-->
</div>

<div id="Paris" class="city w3-animate-opacity" style="display:none;padding-top:16px">

    <div class="flex-container w3-animate-opacity" id="participants" style="justify-content:center">

      <div class="flex-item w3-center w3-mobile">
        <h4><img src="../../images/flags/1x1/us.svg" width="40" height="40" alt="us">&nbsp;&nbsp;installed</h4>
        <hr>
        <p>malvoe</p>
        <p>Jbacc</p>
      </div>

      <div class="flex-item w3-center w3-mobile">
        <h4><img src="../../images/flags/1x1/us.svg" width="40" height="40" alt="us">&nbsp;&nbsp;Death From Above</h4>
        <hr>
        <p>Hailst0rm</p>
        <p>acidreign</p>
      </div>

      <div class="flex-item w3-center w3-mobile">
        <h4><img src="../../images/flags/1x1/us.svg" width="40" height="40" alt="us">&nbsp;&nbsp;qcusa</h4>
        <hr>
        <p>dzl</p>
        <p>zildjian</p>
      </div>

      <div class="flex-item w3-center w3-mobile">
        <h4><img src="../../images/flags/1x1/eu.svg" width="40" height="40" alt="eu">&nbsp;&nbsp;EBKeledon</h4>
        <hr>
        <p>EBKey</p>
        <p>nickeledon</p>
      </div>

      <div class="flex-item w3-center w3-mobile">
        <h4><img src="../../images/flags/1x1/eu.svg" width="40" height="40" alt="eu">&nbsp;&nbsp;TB</h4>
        <hr>
        <p>ffbryan</p>
        <p>TreLLsoN</p>
      </div>

      <div class="flex-item w3-center w3-mobile">
        <h4><img src="../../images/flags/1x1/eu.svg" width="40" height="40" alt="eu">&nbsp;&nbsp;Double Whammy</h4>
        <hr>
        <p><a href="/player/fifty/" class="link-white">Fifty</a></p>
        <p>eldeibe</p>
      </div>

      <div class="flex-item w3-center w3-mobile">
        <h4><img src="../../images/flags/1x1/eu.svg" width="40" height="40" alt="eu">&nbsp;&nbsp;Orval</h4>
        <hr>
        <p><a href="/player/salconnn/" class="link-white">salconnn</a></p>
        <p>Komunky</p>
      </div>

      <div class="flex-item w3-center w3-mobile">
        <h4><img src="../../images/flags/1x1/eu.svg" width="40" height="40" alt="eu">&nbsp;&nbsp;nerdRage_dbt</h4>
        <hr>
        <p>WiseGenie</p>
        <p>StelaGGio</p>
      </div>

      <div class="flex-item w3-center w3-mobile">
        <h4><img src="../../images/flags/1x1/eu.svg" width="40" height="40" alt="eu">&nbsp;&nbsp;CryptRunners</h4>
        <hr>
        <p><a href="/player/snthss/" class="link-white">snthss</a></p>
        <p>joxx</p>
      </div>

      <div class="flex-item w3-center w3-mobile">
        <h4><img src="../../images/flags/1x1/eu.svg" width="40" height="40" alt="eu">&nbsp;&nbsp;Rum Cocos</h4>
        <hr>
        <p>TerraN42</p>
        <p>pumy</p>
      </div>

      <div class="flex-item w3-center w3-mobile">
        <h4><img src="../../images/flags/1x1/eu.svg" width="40" height="40" alt="eu">&nbsp;&nbsp;Mmmkey</h4>
        <hr>
        <p><a href="/player/klyb/" class="link-white">klyb</a></p>
        <p>St0n3</p>
      </div>

      <div class="flex-item w3-center w3-mobile">
        <h4><img src="../../images/flags/1x1/eu.svg" width="40" height="40" alt="eu">&nbsp;&nbsp;hF - happy freaks</h4>
        <hr>
        <p>abad</p>
        <p>Holdennn</p>
      </div>

      <div class="flex-item w3-center w3-mobile">
        <h4><img src="../../images/flags/1x1/eu.svg" width="40" height="40" alt="eu">&nbsp;&nbsp;OpiuM&Moralo</h4>
        <hr>
        <p>Ratnic</p>
        <p>OpiuM</p>
      </div>

      <div class="flex-item w3-center w3-mobile">
        <h4><img src="../../images/flags/1x1/eu.svg" width="40" height="40" alt="eu">&nbsp;&nbsp;p-p-pook</h4>
        <hr>
        <p>PepCo</p>
        <p>DMTV CHERRA</p>
      </div>

      <div class="flex-item w3-center w3-mobile">
        <h4><img src="../../images/flags/1x1/eu.svg" width="40" height="40" alt="eu">&nbsp;&nbsp;intervention</h4>
        <hr>
        <p>Agrum</p>
        <p>jan0r</p>
      </div>

      <div class="flex-item w3-center w3-mobile">
        <h4><img src="../../images/flags/1x1/eu.svg" width="40" height="40" alt="eu">&nbsp;&nbsp;Whombo Cores</h4>
        <hr>
        <p>Neovirus</p>
        <p>Moona</p>
      </div>

    </div>


  <div class="w3-center" style="margin-top:50px">
    <span class="w3-tag w3-center mobile-margin-20 w3-hover-white w3-red" id="bracket-button" style="font-weight:bold;cursor:pointer;margin-right:2.5px">
      SHOW BRACKET
    </span>

    <span class="w3-tag w3-center mobile-margin-20 w3-hover-white w3-red" id="participants-button" style="font-weight:bold;cursor:pointer;margin-left:2.5px">
      HIDE PARTICIPANTS
    </span>

  </div>

  <div id="bracket-ajax"></div>

</div>

<div id="Tokyo" class="city w3-animate-opacity" style="display:none">

  <div id="twitch-embed" style="background:#242429"></div>
  <script src="https://embed.twitch.tv/embed/v1.js"></script>
  <script>
    new Twitch.Embed("twitch-embed", {
      width: "100%",
      height: 700,
      channel: "rocketjumpzone",
      theme: "dark",
      autoplay: false
    });
  </script>

  <h4 style="margin:50px 0 0 0">DONATION (PayPal / Cards)</h4>
  <p style="margin-top:0">
    <small>All donations show alerts during the stream</small>
  </p>
  <a href="https://rocketjump.zone/donate" target="_blank" class="w3-btn w3-round w3-center w3-padding-large w3-hover-white w3-large mobile-margin-10 w3-red w3-mobile">
    <b>
      <i class="far fa-credit-card"></i>
      <i class="fab fa-paypal"></i>
      DONATE VIA STREAMLABS
    </b>
  </a>

  <p>
    <a href="/patreon" target="_blank">Join &euro;1/mo patreon campaign</a>
  </p>

  <hr>

  <div class="w3-row w3-hide-small">
    <div class="w3-half">
      <h2 class="w3-center">Full VOD</h2>
      TBA
    </div>

    <div class="w3-half">
      <h2 class="w3-center">Highlights & Others</h2>
    </div>
  </div>
</div>
