---
title: Ranks - Xonotic
---

<p class="w3-padding-large" style="color:#787887;margin:0">Xonotic Ranks - <b>Q1 2021</b></p>

<div class="w3-content w3-container w3-animate-opacity">

  <div class="w3-responsive">
    <table class="w3-table w3-bordered leaderboard">
      <thead>
        <tr>
          <th>Rank</th>
          <th>Player</th>
          <th>Clan / Org</th>
          <th class="w3-right-align">Top Achievements</th>
        </tr>
      </thead>
      <tbody>
        <tr style="background:#131316">
          <td style="width:80px">1</td>
          <td><img src="../../images/flags/1x1/sk.svg" class="w3-circle" width="40" height="40" alt="sk" title="Slovakia">
            <%= data.players.ch4mp.url %></td>
          <td>Big Biceps</td>
          <td class="w3-right-align">
            CPL 2021
            <i class="fas fa-trophy trophy-gold"></i>
          </td>
        </tr>

        <tr style="background:#131316">
          <td style="width:80px">2</td>
          <td><img src="../../images/flags/1x1/nl.svg" class="w3-circle" width="40" height="40" alt="nl" title="Netherlands">
            <%= data.players.dodger.url %></td>
          <td></td>
          <td class="w3-right-align">
            World Cup 2021
            <i class="fas fa-trophy trophy-gold"></i>
          </td>
        </tr>

      </tbody>
    </table>
  </div>

</div>
