---
title: RJZ is becoming a DAO
date: 2024-02-25 UTC
date_update:
tags: RJZ
layout: blog
author: Ch4mp
---

<h1 class="w3-center">RJZ is becoming a <abbr title="Decentralized Autonomous Organization ">DAO</abbr></h1>
<p class="w3-center">From now on RJZ is owned and lead by its community. NO CEO.</p>
<hr>



## Create or Vote in Proposals

Anybody is now able to create or vote in proposals via [Patreon](https://www.patreon.com/rocketjumpzone), and the community decides the outcome.  
It can be anything - from a game balance change to project branding.


## Treasury

The income will be used for tournaments (prize pools) and management.

<hr>
