---
title: Error 404
---

<div class="w3-content w3-container w3-center">

    <i class="fas fa-5x fa-frown"></i>
    <p>
      <b>Sorry! The page you were looking for does not exist :( <br>
        <a href="/">Go to Front Page</a></b>
    </p>

</div>
<!-- end of w3-content-->
