---
title: About
---


<div class="w3-auto w3-container w3-animate-opacity">
  <h1 class="w3-center">About Rocket Jump Zone</h1>
<hr>
  <p class="w3-center">Rocket Jump Zone (RJZ) is a pioneering community project fueled by passion for competitive gaming and a commitment to fostering a vibrant esports culture.<br>
   Our primary focus lies in organizing and hosting tournaments for adrenaline-pumping games like Xonotic, Quake, and a range of arena shooters.</p>
   <p class="w3-center">At RJZ, we recognize that esports is more than just a hobby; it's a dynamic platform for connecting individuals, igniting friendly rivalries, and building lasting friendships. Through our events, we aim to provide a space where gamers of all skill levels can come together, sharpen their abilities, and celebrate the thrill of intense competition.</p>
  <p class="w3-center">RJZ is a <a href="https://en.wikipedia.org/wiki/Decentralized_autonomous_organization" target="_blank">DAO</a> (decentralized autonomous organization) lead by the community, for the community.</p>
  <div class="w3-center social-icons">
    <a style="text-decoration:none" href="https://twitter.com/rocketjumpzone" target="_blank">
      <i class="fab fa-2x fa-x-twitter"></i>
    </a>
    <a style="text-decoration:none" href="https://discord.com/invite/H3MxKRu" target="_blank">
      <i class="fab fa-2x fa-discord"></i>
    </a>
    <a style="text-decoration:none" href="https://www.youtube.com/@rocketjumpzone" target="_blank">
      <i class="fab fa-2x fa-youtube"></i>
    </a>
    <a style="text-decoration:none" href="https://www.twitch.tv/rocketjumpzone" target="_blank">
      <i class="fab fa-2x fa-twitch"></i>
    </a>
    <a style="text-decoration:none" href="https://www.patreon.com/rocketjumpzone" target="_blank">
      <i class="fab fa-2x fa-patreon"></i>
    </a>
    <a style="text-decoration:none" href="https://github.com/rocketjumpzone" target="_blank">
      <i class="fab fa-2x fa-github"></i>
    </a>
  </div>

<hr>
  <h2 style="margin-top:70px">The Crew</h2>

  <div class="w3-row">
  <div class="w3-quarter">
  <div style="margin:10px 2px 2px 2px;background:#131316">
      <header class="w3-container w3-light-grey">
        <h3 class="w3-center">Ch4mp</h3>
      </header>
      <div class="w3-container">
        <p>Founder</p>
        <hr>
        <img src="../../images/avatar/ch4mp2.jpg" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
        <p style="height:100px">Check out my<br> <a href="/player/ch4mp/" target="_blank">RJZ Profile</a></p>
        <hr style="margin:5px">
      </div>

      <div class="player-social w3-container" style="padding:0 0 5px 20px">
        <a href="https://www.youtube.com/@bigbicepstime" target="_blank">
          <i class="fab fa-lg fa-youtube"></i>
        </a>
        <a href="https://steamcommunity.com/id/bigbicepstime" target="_blank">
          <i class="fab fa-lg fa-steam"></i>
        </a>
      </div>
  </div>
  </div>

  <div class="w3-quarter">
  <div style="margin:10px 2px 2px 2px;background:#131316">
      <header class="w3-container w3-light-grey">
        <h3 class="w3-center">Kaapeli47</h3>
      </header>
      <div class="w3-container">
        <p>Caster</p>
        <hr>
        <p class="crew-desc">I started commentating Quake in November 2018 in the Battlefy community cups and later the EU Challenger division in Quake Open League, until suddenly both went quiet. Then I joined RJZ in March 2019 and have been a prime example that high skill isn't necessary to be a commentator for a game like Quake - you'll manage by just studying the game! Apart from casting Quake I'm also very interested in the history of FPS games, and on my own Twitch channel (twitch.tv/kaapeli47) I stream a playthrough series called Golds of FPS, in which I stream and play through FPS games as well as study their history thoroughly." Check out my In The Keep interview and leave a follow on my Twitch channel!</p>
        <hr style="margin:5px">
      </div>
      <div class="player-social w3-container" style="padding:0 0 5px 20px">
        <a href="https://twitter.com/Kaapeli47" target="_blank">
          <i class="fab fa-lg fa-x-twitter"></i>
        </a>
        <a href="https://www.twitch.tv/kaapeli47" target="_blank">
          <i class="fab fa-lg fa-twitch"></i>
        </a>
      </div>
  </div>
  </div>

  <div class="w3-quarter">
  <div style="margin:10px 2px 2px 2px;background:#131316">
      <header class="w3-container w3-light-grey">
        <h3 class="w3-center">Draena</h3>
      </header>
      <div class="w3-container">
        <p>Caster</p>
        <hr>
        <p style="height:100px">-</p>
        <hr style="margin:5px">
      </div>
      <div class="player-social w3-container" style="padding:0 0 5px 20px">
        <a href="https://www.twitch.tv/sl4cer" target="_blank">
          <i class="fab fa-lg fa-twitch"></i>
        </a>
      </div>
  </div>
  </div>

  <div class="w3-quarter">
  <div style="margin:10px 2px 2px 2px;background:#131316">
      <header class="w3-container w3-light-grey">
        <h3 class="w3-center">Ballerburg9005</h3>
      </header>
      <div class="w3-container">
        <p>Sys Admin, Mapper, Developer</p>
        <hr>
        <p style="height:100px">-</p>
        <hr style="margin:5px">
      </div>
      <div class="player-social w3-container" style="padding:0 0 5px 20px">
        <a href="https://ballerburg.us.to/" target="_blank">
          <i class="fa-solid fa-lg fa-arrow-up-right-from-square"></i>
        </a>
      </div>
  </div>
  </div>

  </div>
<!-- end of w3-row-->


    <h2 style="margin-top:100px">Media Kit</h2>

    <div class="w3-row w3-round w3-padding w3-center" style="background:#dedede">
      <div class="w3-half">
        <%= image_tag "/images/rjz-logo-512x512.png", alt: "RJZ Logo", class: "w3-image" %>
        <p class="w3-text-black">512x512px (png file)</p>
      </div>

      <div class="w3-half">
        <%= image_tag "/images/rjz-logo-512x512-transparent.png", alt: "RJZ Logo transparent", class: "w3-image" %>
        <p class="w3-text-black">512x512px (png file) - transparent</p>
      </div>
      <p>
        <a href="https://rocketjump.zone/files/rjz-logo.zip">
          <i class="fas fa-download"></i>
          DOWNLOAD SVG PACKAGE</a>
      </p>
    </div>

    <hr class="w3-hide-small">

    <p class="w3-hide-small" style="color:#737373">last website update:
      <b><%= Time.now.strftime('%B %e, %Y, %k:%M CET') %></b></p>

  </div>
  <!-- end of w3-auto-->
