---
title: About
description: Rocket Jump Zone is an Esports project focused on fast paced FPS Shooters such as Xonotic, Quake, Diabotical.
---

<p class="w3-container w3-right w3-hide-small" style="color:#737373">last website update:
  <b><%= Time.now.strftime('%B %e, %Y, %k:%M CET') %></b></p>

<div class="clearfix"></div>

<div class="w3-auto w3-container w3-animate-opacity">
  <h1 class="w3-center">About Rocket Jump Zone</h1>
<hr>
  <p class="w3-center">Rocket Jump Zone is an Esports project focused on fast paced First Person Shooters such as Xonotic, Quake, Diabotical.<br>
  Our goal is to make the Arena FPS Universe bigger, more competitive. We want new players in, new talents, new crazy moments, all of it.</p>
  <div class="w3-center social-icons">
    <a style="text-decoration:none" href="https://twitter.com/rocketjumpzone" target="_blank">
      <i class="fab fa-2x fa-twitter"></i>
    </a>
    <a style="text-decoration:none" href="https://www.youtube.com/channel/UCYZbIYOuM8S1wq85GoWE4qA" target="_blank">
      <i class="fab fa-2x fa-youtube"></i>
    </a>
    <a style="text-decoration:none" href="https://rocketjump.zone/discord" target="_blank">
      <i class="fab fa-2x fa-discord"></i>
    </a>
    <a style="text-decoration:none" href="https://www.twitch.tv/rocketjumpzone" target="_blank">
      <i class="fab fa-2x fa-twitch"></i>
    </a>
    <a style="text-decoration:none" href="https://rocketjump.zone/github" target="_blank">
      <i class="fab fa-2x fa-github"></i>
    </a>
  </div>

  <ul>
    <li><a href="/xce">XCE</a> - Xonotic Fork (competitive edition) by Rocket Jump Zone</li>
    <li><a href="/blog">Blog</a> - About Arena Shooters and Esports</li>
    <li><a href="/pickup">Pickup</a> - Pickup games via Discord bot</li>
    <li><a href="/contribute">Contribute</a> - Support the project</li>
  </ul>
<hr>
  <h2 style="margin-top:70px">The Crew</h2>

  <div class="w3-row">
  <div class="w3-quarter">
  <div style="margin:10px 2px 2px 2px;background:#131316">
      <header class="w3-container w3-light-grey">
        <h3 class="w3-center">Ch4mp</h3>
      </header>
      <div class="w3-container">
        <p>CEO</p>
        <hr>
        <img src="../../images/avatar/ch4mp2.jpg" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
        <p style="height:100px">Check out my<br> <a href="/player/ch4mp/" target="_blank">RJZ Profile</a></p>
        <hr style="margin:5px">
      </div>

      <div class="player-social w3-container" style="padding:0 0 5px 20px">
        <a href="https://twitter.com/BigBicepsTime" target="_blank">
          <i class="fab fa-lg fa-twitter"></i>
        </a>
        <a href="https://www.instagram.com/BigBicepsTime" target="_blank">
          <i class="fab fa-lg fa-instagram"></i>
        </a>
        <a href="https://steamcommunity.com/id/BigBicepsTime" target="_blank">
          <i class="fab fa-lg fa-steam"></i>
        </a>
      </div>
  </div>
  </div>

  <div class="w3-quarter">
  <div style="margin:10px 2px 2px 2px;background:#131316">
      <header class="w3-container w3-light-grey">
        <h3 class="w3-center">Kaapeli47</h3>
      </header>
      <div class="w3-container">
        <p>Caster</p>
        <hr>
        <p class="crew-desc">I started commentating Quake in November 2018 in the Battlefy community cups and later the EU Challenger division in Quake Open League, until suddenly both went quiet. Then I joined RJZ in March 2019 and have been a prime example that high skill isn't necessary to be a commentator for a game like Quake - you'll manage by just studying the game! Apart from casting Quake I'm also very interested in the history of FPS games, and on my own Twitch channel (twitch.tv/kaapeli47) I stream a playthrough series called Golds of FPS, in which I stream and play through FPS games as well as study their history thoroughly." Check out my In The Keep interview and leave a follow on my Twitch channel!</p>
        <hr style="margin:5px">
      </div>
      <div class="player-social w3-container" style="padding:0 0 5px 20px">
        <a href="https://twitter.com/Kaapeli47" target="_blank">
          <i class="fab fa-lg fa-twitter"></i>
        </a>
        <a href="https://www.twitch.tv/kaapeli47" target="_blank">
          <i class="fab fa-lg fa-twitch"></i>
        </a>
      </div>
  </div>
  </div>

  <div class="w3-quarter">
  <div style="margin:10px 2px 2px 2px;background:#131316">
      <header class="w3-container w3-light-grey">
        <h3 class="w3-center">HaloLagann</h3>
      </header>
      <div class="w3-container">
        <p>Caster</p>
        <hr>
        <p style="height:100px">-</p>
        <hr style="margin:5px">
      </div>
      <div class="player-social w3-container" style="padding:0 0 5px 20px">
        <a href="https://twitter.com/HaloLagann" target="_blank">
          <i class="fab fa-lg fa-twitter"></i>
        </a>
      </div>
  </div>
  </div>

  </div>
<!-- end of w3-row-->


    <h2 style="margin-top:100px">Media Kit</h2>

    <div class="w3-row w3-round w3-padding w3-center" style="background:#dedede">
      <div class="w3-half">
        <%= image_tag "/images/rjz-logo-512x512.png", alt: "RJZ Logo", class: "w3-image" %>
        <p class="w3-text-black">512x512px (png file)</p>
      </div>

      <div class="w3-half">
        <%= image_tag "/images/rjz-logo-512x512-transparent.png", alt: "RJZ Logo transparent", class: "w3-image" %>
        <p class="w3-text-black">512x512px (png file) - transparent</p>
      </div>
      <p>
        <a href="https://rocketjump.zone/files/rjz-logo.zip">
          <i class="fas fa-download"></i>
          DOWNLOAD SVG PACKAGE</a>
      </p>
    </div>

  </div>
  <!-- end of w3-auto-->
