---
title: Xonotic Server Browser
description: Public Server Browser for the ArenaFPS game Xonotic. Current servers, players, scores and more online - tracking all master servers.
layout: browser
---




<div class="w3-content w3-animate-opacity">
    <iframe src="https://xonotic.lifeisabug.com/?rjz=1" class="w3-mobile" style="min-height:1200px;width:100%;border-width:0" frameborder="0" scrolling="auto"></iframe>

<div class="erebus grow w3-hide-small">
</div>
<!-- end of w3-content-->
