---
title: Celzmode
---

<div class="w3-content w3-container w3-animate-opacity">

  <h1 class="w3-center">Celzmode</h1>
  <p class="w3-center">
    To activate, do <b>vcall celzmode</b> on Hell server.
  </p>
  <hr>


  <h2>Includes:</h2>
    <ul>
      <li>g_respawn_delay_small 1 (was 2)</li>
      <li>g_respawn_delay_big 1 (was 2)</li>
      <li>v_kickpitch 0 (was 0.6)</li>
      <li>v_kickroll 0 (was 0.6)</li>
      <li>g_balance_arc_beam_refire 0 (was 0.25)</li>
      <li>g_balance_arc_switchdelay_drop 0 (was 0.2)</li>
      <li>g_balance_arc_switchdelay_raise 0 (was 0.2)</li>

    </ul>

</div>
<!-- end of w3-content-->
