---
title: CH1MPNOTIC
description: Ch1mpnotic is a Xonotic edition made for Competitive Players and the recommended version to participate in our tournaments.
layout: ch1mpnotic-jquery
---

<div class="w3-content w3-container w3-animate-opacity">

  <h1 class="w3-center">CH1MPNOTIC</h1>
  <hr>
  <div class="w3-display-container w3-margin-top w3-hide-small">
    <img src="../../images/ch1mpnotic/1.jpg" class="w3-mobile mySlides w3-image w3-animate-opacity" alt="stormkeep map">
    <img src="../../images/ch1mpnotic/3.jpg" class="w3-mobile mySlides w3-image w3-animate-opacity" alt="aerowalk map">
    <img src="../../images/ch1mpnotic/5.jpg" class="w3-mobile mySlides w3-image w3-animate-opacity" alt="bloodrun map">
    <img src="../../images/ch1mpnotic/4.jpg" class="w3-mobile w3-image mySlides w3-animate-opacity" alt="tuhma map">
    <img src="../../images/ch1mpnotic/7.jpg" class="w3-mobile mySlides w3-image w3-animate-opacity" alt="downer map">

    <button class="w3-button w3-display-left w3-hide-small" onclick="plusDivs(-1)">
      <i class="fas fa-3x fa-arrow-left"></i>
    </button>
    <button class="w3-button w3-display-right w3-hide-small" onclick="plusDivs(1)">
      <i class="fas fa-3x fa-arrow-right"></i>
    </button>
  </div>

  <a class="mobile-margin-10" style="border:none" href="https://drive.google.com/file/d/1OxdCosVDvvFJ6z4P4gBYGWZxJEBTbkV3/view?usp=sharing" target="_blank">
    <span class="w3-tag w3-hover-white w3-red" style="margin-left:2.5px">
      <i class="fas fa-download"></i>
      CH1MPNOTIC 1.1 &nbsp;&nbsp;<i class="fab fa-google-drive"></i> 3.1 GB
    </span>
  </a>

  <a class="mobile-margin-10" style="border:none" href="#faq">
    <span class="w3-tag w3-hover-white w3-red" style="margin-left:2.5px">
      #INSTALLATION / FAQ
    </span>
  </a>&nbsp;

  <a class="mobile-margin-10" style="border:none" href="/pickup" target="_blank">
    <span class="w3-tag w3-hover-white w3-red" style="margin-left:2.5px">
      PICKUP
    </span>
  </a>

  <a class="mobile-margin-10" style="border:none" href="https://arena.sh/xo/" target="_blank">
    <span class="w3-tag w3-hover-white w3-red" style="margin-left:2.5px">
      SERVER BROWSER
    </span>
  </a>

  <a class="mobile-margin-10" style="border:none" href="#assets">
    <span class="w3-tag w3-hover-white w3-red" style="margin-left:2.5px">
      #ASSETS
    </span>
  </a>

  <a class="mobile-margin-10" style="border:none" href="#servers">
    <span class="w3-tag w3-hover-white w3-red" style="margin-left:2.5px">
      #SERVERS
    </span>
  </a>

  <a class="mobile-margin-10" style="border:none" href="#console">
    <span class="w3-tag w3-hover-white w3-red" style="margin-left:2.5px">
      #CONSOLE
    </span>
  </a>

  <hr>
  <h2>Quick Facts</h2>
  <ul>
    <li>Ch1mpnotic is a
      <a href="https://xonotic.org/">Xonotic</a>
      edition made for Competitive Players and the recommended version to participate in our tournaments.
    </li>
    <li>
      <u>Movement</u>
      -
      <b>CPM</b>
      like</li>
    <li>
      <u>Weapons (9)</u>
      -
      <b>
        <span style="border-bottom:1px groove" data-preview-image="../../images/ch1mpnotic/blaster.jpg">Blaster</span>,
        <span style="border-bottom:1px groove" data-preview-image="../../images/ch1mpnotic/shotgun.jpg">Shotgun</span>,
        <span style="border-bottom:1px groove" data-preview-image="../../images/ch1mpnotic/machinegun.jpg">MachineGun</span>,
        <span style="border-bottom:1px groove" data-preview-image="../../images/ch1mpnotic/mortar.jpg">Mortar</span>,
        <span style="border-bottom:1px groove" data-preview-image="../../images/ch1mpnotic/electro.jpg">Electro</span>,
        <span style="border-bottom:1px groove" data-preview-image="../../images/ch1mpnotic/arc.jpg">Arc</span>,
        <span style="border-bottom:1px groove" data-preview-image="../../images/ch1mpnotic/vortex.jpg">Vortex</span>.
        <span style="border-bottom:1px groove" data-preview-image="../../images/ch1mpnotic/hagar.jpg">Hagar</span>,
        <span style="border-bottom:1px groove" data-preview-image="../../images/ch1mpnotic/devastator.jpg">Devastator</span>
      </b>
    </li>
    <li>
      <u>Duel Maps Tournaments (7)</u>
      -
      <b>
        <span style="border-bottom:1px groove" data-preview-image="../../images/ch1mpnotic/maps/aerowalk.jpg">Aerowalk</span>,
        <span style="border-bottom:1px groove" data-preview-image="../../images/ch1mpnotic/maps/darkzone.jpg">Darkzone</span>,
        <span style="border-bottom:1px groove" data-preview-image="../../images/ch1mpnotic/maps/silentsiege.jpg">Silent Siege</span>,
        <span style="border-bottom:1px groove" data-preview-image="../../images/ch1mpnotic/maps/finalrage.jpg">Final Rage</span>,
        <span style="border-bottom:1px groove" data-preview-image="../../images/ch1mpnotic/maps/stormkeep.jpg">Stormkeep</span>,
        <span style="border-bottom:1px groove" data-preview-image="../../images/ch1mpnotic/maps/downer.jpg">Downer</span>,
        <span style="border-bottom:1px groove" data-preview-image="../../images/ch1mpnotic/maps/fuse.jpg">Fuse</span>
      </b>
    </li>
    <li>Available for
      <b>Windows, Linux, Mac</b>
    </li>
    <li>
      <u>FPS?</u>
      250+ (by default config), game launch - 2 secs, no lootboxes,  no annoyance</li>
  </ul>

  <hr>

  <h2 id="servers">Rocket Jump Zone Servers</h2>
  <h3 id="rules">Rules:</h3>
    <ul>
      <li>Faking / Changing your player name's forbidden, don't play stalker. Choose a player name once and keep it.<br> If you participate in our tournaments choose your competitive name from <a href="/players">rocketjump.zone/players</a></li>
    </ul>

  <h3>Main <a href="https://www.youtube.com/watch?v=hwTZpaba3tE">balance differences</a> from XPM:</h3>
  <ul>
    <li>Crylink weapon is replaced with a modified Arc (LG) weapon</li>
    <li>MachineGun has no reload, only 1 magazine 60 bullets</li>
    <li>Blaster weapon has now a secondary (dmg: 1, force: 3, refire: 0.2)</li>
    <li>There's no spawn sound</li>
  </ul>

  <h3 id="ranked">Ranked</h3>
  <p>We play ranked via Pubobot (a dicord bot). Visit the <a href="/pickup">pickup page</a> for more details.</p>

  <h3 id="issues">Issues</h3>

  <p>It could happen that somebody left a non official balance config on the server, fix it with:&nbsp;&nbsp; <kbd>vcall balance-default</kbd></p>

  <p><b>Other balances to try out:</b><br>
    <kbd>balance-kota</kbd>&nbsp; <kbd>balance-ql</kbd>&nbsp; <kbd>balance-bw</kbd>
  </p>

  <p><b>Black map for non Ch1mpnotic users:</b><br>
  Download these maps and put into your data folder - <a href="https://rocketjump.zone/files/xonotic/aerowalk.pk3">aerowalk</a>, <a href="https://rocketjump.zone/files/xonotic/downer.pk3">downer</a></p>
  <h3>Servers</h3>
  <p><a href="https://stats.xonotic.org/server/27992" target="_blank">Duel 1 - Frankfurt</a> -
    <kbd>172.105.76.71</kbd>
  </p>
  <hr>

  <h2 id="console">Config / Console</h2>
  <p>press "~" or "shift + esc" to open the console</p>
  <ul>
    <li>There are 2 pre-made configs:<br>
      <span style="border-bottom:1px groove" data-preview-image="../../images/ch1mpnotic/player-preview.jpg">Competitive (default)</span>&nbsp;
      <kbd>exec player.cfg</kbd>&nbsp; (textures off, simple items (2D), HUD, reduced effects..)<br>
      <span style="border-bottom:1px groove" data-preview-image="../../images/ch1mpnotic/caster-preview.jpg">Caster</span>&nbsp;
      <kbd>exec caster.cfg</kbd>&nbsp; (texturees on, normal items (3D), HUD, eye candy..)</li>
    <li>you can simply switch between hud caster and player on the fly:&nbsp; <kbd>hud-player</kbd> <kbd>hud-caster</kbd></li>
    <li>If you prefer male announcer: &nbsp;<kbd>cl_announcer male</kbd>
    </li>

    <li><u>In game vote / call commands:</u><br>
      <b>vcall chmap map</b> or <b>vmap map</b>
      (vote for a diff map)<br>
      <b>vcall endmatch</b> or <b>vcall gg</b>
      (call a gg, end match)<br>
      <b>vcall restart</b>
      (restart current map)
    </li>
    <li>
      <u>more useful commands:</u><br>
      <b>vcall cointoss</b> - heads or tails?<br>
      <b>vcall bots, vcall nobots</b> - who needs bots? our playerbase is huge<br>
      <b>lsmaps</b> - print names of all available maps on the server<br>
      <b>timeout, timein</b> - pause and unpause the game<br>
      <u>shortcuts:</u><br>
      q / quit, d / disconnect, s / spec, r / ready<br>
    </li>

    <li>
      <u>more tuning commands:</u>
      (vid_restart might be needed)<br>
      <kbd>gl_picmip_world 0</kbd>&nbsp; turn textures on<br>
      you can reduse effects:<br>
      <kbd>cl_particles_alpha 0.2</kbd><br>
      <kbd>cl_particles_sparks 0</kbd><br>
      <kbd>cl_particles_blood 0</kbd><br>
      <kbd>cl_gentle_gibs 1</kbd><br>
      <kbd>r_coronas 0</kbd><br>

      if you have low FPS (probably in caster mode) then try:<br>
      <kbd>exec effects-high.cfg</kbd>&nbsp; or &nbsp;<kbd>exec effects-normal.cfg</kbd>
    </li>
  </ul>

  <p>
    Where is your config located (that's also the place to put 3rd party assets):</p>
  <i class="fab fa-2x fa-linux"></i>
  &nbsp;&nbsp; ~/.xonotic/data
  <br>
  <i class="fab fa-2x fa-windows"></i>
  &nbsp;&nbsp; C:\Users\your name\Saved Games\xonotic\data<br>
  <i class="fab fa-2x fa-apple"></i>
  &nbsp;&nbsp; ~/Library/Application Support/xonotic/data

  <p>To change the default config path, launch the game with a custom param (for Windows):&nbsp;&nbsp;
    <kbd>-userdir C:\.xonotic</kbd>
  </p>

  <hr>

  <h2 id="assets">3rd Party Assets</h2>

  <ul>
    <li>
      <a href="https://rocketjump.zone/files/xonotic/zzz-player-sounds-female.pk3">Player Sounds - Female</a>
    </li>

    <li>
      <a href="https://rocketjump.zone/files/xonotic/zzz-player-sounds-tommy.pk3">Player Sounds - Tommy</a>
    </li>

    <li>
      <a href="https://rocketjump.zone/files/xonotic/zzz-announcer-splat.pk3">Announcer - SPLAT</a>
    </li>

    <li>
      <a href="https://rocketjump.zone/files/xonotic/zzz-old-rl.pk3">
        <span style="border-bottom:1px groove" data-preview-image="../../images/ch1mpnotic/old-rl.jpg">Old Rocket Launcher Model</span></a>
    </li>
  </ul>

  <hr>

  <h2 id="faq">FAQ</h2>

  <h3>Installation</h3>
  <p>There's no installation nor Steam support. Simply extract the package somewhere and run &nbsp;<kbd>xonotic.exe</kbd></p>

  <h3>Is the game free to play?</h3>
  <p>Yes, and under GPLv3+ license</p>

  <h3>What's the purpose of Ch1mpnotic?</h3>
  <p>Ch1mpnotic was created for competitive players to ease the process of setting up the game from scratch.<br>
  It's used to run our tournaments and leagues.</p>


  <h3>Is Ch1mpnotic compatible with Xonotic?</h3>
  <p>100% Compatible. All weapons and modes from Xonotic are available.<br>
    We use the default <b>.xonotic</b> userdir, but you can change it: &nbsp; <kbd>-userdir C:\.ch1mpnotic</kbd></p>

  <h3>Is weapon Crylink included?</h3>
  <p>Yes, Crylink and Arc use the same weapon caregory - 6 bind.</p>

  <h3>Can I contribute?</h3>
  <p>Sure, check out
    <a href="https://github.com/rocketjumpzone/xonotic-data.pk3dir">the repo</a>
    or support us
    <a href="https://rocketjump.zone/contribute">financionaly</a></p>
  <hr>
  <div class="w3-center social-icons">
    <a style="text-decoration:none" href="https://twitter.com/rocketjumpzone" target="_blank">
      <i class="fab fa-2x fa-twitter"></i>
    </a>
    <a style="text-decoration:none" href="https://www.youtube.com/channel/UCYZbIYOuM8S1wq85GoWE4qA" target="_blank">
      <i class="fab fa-2x fa-youtube"></i>
    </a>
    <a style="text-decoration:none" href="https://rocketjump.zone/discord" target="_blank">
      <i class="fab fa-2x fa-discord"></i>
    </a>
    <a style="text-decoration:none" href="https://www.twitch.tv/rocketjumpzone" target="_blank">
      <i class="fab fa-2x fa-twitch"></i>
    </a>
    <a style="text-decoration:none" href="https://rocketjump.zone/github" target="_blank">
      <i class="fab fa-2x fa-github"></i>
    </a>
    <a style="text-decoration:none" href="https://rocketjump.zone/patreon" target="_blank">
      <i class="fab fa-2x fa-patreon"></i>
    </a>
  </div>
</div>

<script>

  var slideIndex = 1;
  showDivs(slideIndex);

  function plusDivs(n) {
    showDivs(slideIndex += n);
  }

  function showDivs(n) {
    var i;
    var x = document.getElementsByClassName("mySlides");
    if (n > x.length) {
      slideIndex = 1
    }
    if (n < 1) {
      slideIndex = x.length
    };
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
    }
    x[slideIndex - 1].style.display = "block";
  }
</script>
