---
title: CH1MPNOTIC
description: Ch1mpnotic is a Xonotic client made for Competitive Players. This edition of Xonotic is the recommended version to participate in our tournaments.
layout: ch1mpnotic-jquery
---

<div class="w3-content w3-container w3-animate-opacity">

  <h1 class="w3-center">CH1MPNOTIC</h1>
  <hr>
  <div class="w3-display-container w3-margin-top">
    <img src="../../images/ch1mpnotic/1.jpg" class="w3-mobile mySlides w3-image w3-animate-opacity" alt="stormkeep map">
    <img src="../../images/ch1mpnotic/3.jpg" class="w3-mobile mySlides w3-image w3-animate-opacity" alt="aerowalk map">
    <img src="../../images/ch1mpnotic/5.jpg" class="w3-mobile mySlides w3-image w3-animate-opacity" alt="bloodrun map">
    <img src="../../images/ch1mpnotic/4.jpg" class="w3-mobile w3-image mySlides w3-animate-opacity" alt="tuhma map">
    <img src="../../images/ch1mpnotic/7.jpg" class="w3-mobile mySlides w3-image w3-animate-opacity" alt="downer map">

    <button class="w3-button w3-display-left w3-hide-small" onclick="plusDivs(-1)">
      <i class="fas fa-3x fa-arrow-left"></i>
    </button>
    <button class="w3-button w3-display-right w3-hide-small" onclick="plusDivs(1)">
      <i class="fas fa-3x fa-arrow-right"></i>
    </button>
  </div>

  <a class="w3-hide-small" style="border:none" href="https://drive.google.com/file/d/1Yc_4E7ZbMRhSRTB47KB99IYCxrHEt5yZ/view?usp=sharing" target="_blank">
    <span class="w3-tag w3-hover-white w3-red" style="margin-left:2.5px">
      GET THE GAME (3G Google Drive)
    </span>
  </a>

  <a class="w3-hide-small" style="border:none" href="#" target="_blank">
    <span class="w3-tag w3-hover-white w3-red" style="margin-left:2.5px">
      GAMEPLAY (TBA)
    </span>
  </a>

  <hr>
  <h2>Quick Facts</h2>
  <ul>
    <li>Ch1mpnotic is a
      <a href="https://xonotic.org/">Xonotic</a>
      client made for Competitive Players.<br>
      This edition of Xonotic is the recommended version to participate in our tournaments.
    </li>
    <li>
      <u>Movement</u>
      -
      <b>CPM</b>
      like</li>
    <li>
      <u>Weapons (9)</u>
      -
      <b>
        <span style="border-bottom:1px groove" data-preview-image="../../images/ch1mpnotic/blaster.jpg">Blaster</span>,
        <span style="border-bottom:1px groove" data-preview-image="../../images/ch1mpnotic/shotgun.jpg">Shotgun</span>,
        <span style="border-bottom:1px groove" data-preview-image="../../images/ch1mpnotic/machinegun.jpg">MachineGun</span>,
        <span style="border-bottom:1px groove" data-preview-image="../../images/ch1mpnotic/mortar.jpg">Mortar</span>,
        <span style="border-bottom:1px groove" data-preview-image="../../images/ch1mpnotic/electro.jpg">Electro</span>,
        <span style="border-bottom:1px groove" data-preview-image="../../images/ch1mpnotic/arc.jpg">Arc</span>,
        <span style="border-bottom:1px groove" data-preview-image="../../images/ch1mpnotic/vortex.jpg">Vortex</span>
        <span style="border-bottom:1px groove" data-preview-image="../../images/ch1mpnotic/hagar.jpg">Hagar</span>
        <span style="border-bottom:1px groove" data-preview-image="../../images/ch1mpnotic/devastator.jpg">Devastator</span>
      </b>
    </li>
    <li>
      <u>Duel Maps Tournaments (7)</u>
      -
      <b>
        <span style="border-bottom:1px groove" data-preview-image="../../images/ch1mpnotic/maps/aerowalk.jpg">Aerowalk</span>,
        <span style="border-bottom:1px groove" data-preview-image="../../images/ch1mpnotic/maps/darkzone.jpg">Darkzone</span>,
        <span style="border-bottom:1px groove" data-preview-image="../../images/ch1mpnotic/maps/silentsiege.jpg">Silent Siege</span>,
        <span style="border-bottom:1px groove" data-preview-image="../../images/ch1mpnotic/maps/finalrage.jpg">Final Rage</span>,
        <span style="border-bottom:1px groove" data-preview-image="../../images/ch1mpnotic/maps/stormkeep.jpg">Stormkeep</span>,
        <span style="border-bottom:1px groove" data-preview-image="../../images/ch1mpnotic/maps/downer.jpg">Downer</span>,
        <span style="border-bottom:1px groove" data-preview-image="../../images/ch1mpnotic/maps/fuse.jpg">Fuse</span>
      </b>
    </li>
    <li>Available for
      <b>Windows, Linux, Mac</b>
    </li>
    <li>
      <u>FPS?</u>
      250+ (play on any washing marchine)</li>
  </ul>

  <hr>

  <h2>Rocket Jump Zone Servers</h2>
  <p>If you compete in our tournaments then it's recommended to practice in our servers as we use a different game balance.<br>
    Name changing in our servers is forbidden. Don't play stalker.</p>
  <h3>Main differences from XPM:</h3>
  <ul>
    <li>Crylink weapon is replaced with a modified Arc weapon</li>
    <li>MachineGun has no reload, only 1 magazine 60 bullets</li>
    <li>Blaster weapon has now a secondary (dmg 1, force:3, refire 0.2)</li>
  </ul>

  <h3>Issues</h3>

  <p>It could happen that somebody left a non official balance config on the server, fix it with:&nbsp;&nbsp; <kbd>vcall balance-default</kbd></p>

  <p><b>Black map for non Ch1mpnotic users:</b><br>
  Download these maps and put into your data folder - <a href="http://rocketjump.zone/files/xonotic/aerowalk.pk3">aerowalk</a>, <a href="http://rocketjump.zone/files/xonotic/downer.pk3">downer</a></p>
  <h3>Servers</h3>
  <p>Duel 1 - Frankfurt -
    <kbd>172.105.76.71</kbd>
  </p>
  <hr>

  <h2>Config / Console</h2>
  <p>press "~" or "shift + esc" to open the console</p>
  <ul>
    <li>There are 2 pre-made configs:<br>
      <span style="border-bottom:1px groove" data-preview-image="../../images/ch1mpnotic/player-preview.jpg">Competitive (default)</span>&nbsp;
      <kbd>exec player.cfg</kbd>&nbsp; (textures off, simple items (2D), HUD, reduced effects..)<br>
      <span style="border-bottom:1px groove" data-preview-image="../../images/ch1mpnotic/caster-preview.jpg">Caster</span>&nbsp;
      <kbd>exec caster.cfg</kbd>&nbsp; (texturees on, normal items (3D), HUD, eye candy..)</li>
    <li>If you prefer male announcer: &nbsp;<kbd>cl_announcer male</kbd>
    </li>

    <li>In game vote / call commands:
      <b>vcall chmap map</b>
      (vote for a diff map),
      <b>vcall endmatch</b>
      (call a gg, end match)<br>
      <b>vcall restart</b>
      (restart current map),
      <b>vcall nextmap</b>
      (vote for a next map)</li>
    <li>
      <u>more useful commands:</u><br>
      "vcall cointoss" - heads or tails?<br>
      "vcall bots", "vcall nobots" - who needs bots? our playerbase is huge<br>
      "lsmaps" - print names of all available maps<br>
      "timeout", "timein" - pause and unpause the game<br>
      <u>shortcuts:</u><br>
      "q" - quit, "d" - disconnect, "s" - spec, "r" - ready<br>
    </li>

    <li>
      <u>more tuning commands:</u>
      (vid_restart might be needed)<br>
      <kbd>gl_picmip_world 0</kbd>&nbsp; turn textures on<br>
      you can reduse effects:<br>
      <kbd>cl_particles_alpha 0.2</kbd><br>
      <kbd>cl_particles_sparks 0</kbd><br>
      <kbd>cl_particles_blood 0</kbd><br>
      <kbd>cl_gentle_gibs 1</kbd><br>
      <kbd>r_coronas 0</kbd><br>

      if you have low FPS (probably in caster mode) then try:<br>
      <kbd>exec effects-high.cfg</kbd>&nbsp; or &nbsp;<kbd>exec effects-normal.cfg</kbd>
    </li>
  </ul>

  <p>
    Where is your config located (that's also the place to put 3rd party assets):</p>
  <i class="fab fa-2x fa-linux"></i>
  &nbsp;&nbsp; ~/.xonotic/data
  <br>
  <i class="fab fa-2x fa-windows"></i>
  &nbsp;&nbsp; C:\Users\your name\Saved Games\xonotic\data<br>
  <i class="fab fa-2x fa-apple"></i>
  &nbsp;&nbsp; ~/Library/Application Support/xonotic/data

  <p>To change the default config path, launch the game with a custom param (for Windows):&nbsp;&nbsp;
    <kbd>-userdir C:\.xonotic</kbd>
  </p>

  <hr>

  <h2>3rd Patry Assets</h2>

  <ul>
    <li>
      <a href="http://rocketjump.zone/files/xonotic/zzz-player-sounds-female.pk3">Player Sounds - Female</a>
    </li>

    <li>
      <a href="http://rocketjump.zone/files/xonotic/announcer-splat.pk3">Announcer - SPLAT</a>
    </li>

    <li>
      <a href="http://rocketjump.zone/files/xonotic/zzz-old-rl.pk3">
        <span style="border-bottom:1px groove" data-preview-image="../../images/ch1mpnotic/old-rl.jpg">Old Rocket Launcher Model</span></a>
    </li>
  </ul>

  <hr>

  <h2>FAQ</h2>
  <h3>Is the game free to play?</h3>
  <p>Yes, and under GPLv3+ license</p>

  <h3>Is Ch1mpnotic Compatible with Xonotic?</h3>
  <p>100% Compatible. It's just Xonotic with a bunch of tunning, configs and assets.<br>
    Ch1mpnotic was created to make it easier for competitive players setting the game from scratch.</p>

  <h3>Is weapon Crylink included?</h3>
  <p>Yes, Crylink and Arc use the same weapon caregory - 6 bind. And all other weapons are included as well.</p>

  <h3>Can I contribute?</h3>
  <p>Sure, check out
    <a href="https://github.com/rocketjumpzone/xonotic-data.pk3dir">the repo</a>
    or support us
    <a href="https://rocketjump.zone/contribute">financionaly</a>
    for development and servers</p>
  <hr>
  <div class="w3-center social-icons">
    <a style="text-decoration:none" href="https://twitter.com/rocketjumpzone" target="_blank">
      <i class="fab fa-2x fa-twitter"></i>
    </a>
    <a style="text-decoration:none" href="https://www.youtube.com/channel/UCYZbIYOuM8S1wq85GoWE4qA" target="_blank">
      <i class="fab fa-2x fa-youtube"></i>
    </a>
    <a style="text-decoration:none" href="https://rocketjump.zone/discord" target="_blank">
      <i class="fab fa-2x fa-discord"></i>
    </a>
    <a style="text-decoration:none" href="https://www.twitch.tv/rocketjumpzone" target="_blank">
      <i class="fab fa-2x fa-twitch"></i>
    </a>
    <a style="text-decoration:none" href="https://rocketjump.zone/github" target="_blank">
      <i class="fab fa-2x fa-github"></i>
    </a>
    <a style="text-decoration:none" href="https://rocketjump.zone/patreon" target="_blank">
      <i class="fab fa-2x fa-patreon"></i>
    </a>
  </div>
</div>

<script>

  var slideIndex = 1;
  showDivs(slideIndex);

  function plusDivs(n) {
    showDivs(slideIndex += n);
  }

  function showDivs(n) {
    var i;
    var x = document.getElementsByClassName("mySlides");
    if (n > x.length) {
      slideIndex = 1
    }
    if (n < 1) {
      slideIndex = x.length
    };
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
    }
    x[slideIndex - 1].style.display = "block";
  }
</script>
