---
title: Contribute
---

<div class="w3-content w3-center w3-container w3-animate-opacity">

  <h1>Support the project</h1>
  <hr>

    <div class="w3-row-padding w3-margin-top">
      <h3>FIAT</h3>


      <div class="w3-third">
        <a href="https://www.paypal.me/ch4mp" target="_blank" class="w3-btn w3-round w3-center w3-padding-large w3-hover-white w3-large mobile-margin-10 w3-red w3-mobile">
          <b>
            <i class="fab fa-paypal"></i>
            PayPal Donation
          </b>
        </a>
      </div>

      <div class="w3-third">
        <a href="https://rocketjump.zone/patreon" target="_blank" class="w3-btn w3-round w3-center w3-padding-large w3-hover-white w3-large mobile-margin-10 w3-red w3-mobile">
          <b>
            <i class="fab fa-patreon"></i>
            Patreon Subscription
          </b>
        </a>
      </div>


      <div class="w3-third">
        IBAN (SK): SK8283605207004201237184<br>
        IBAN (UK): GB26LOYD77490185896660
      </div>
    </div>

    <hr>

    <div class="w3-row-padding w3-margin-top">
      <h3>CRYPTO</h3>
      <div class="w3-third">
        <h4>FANTOM</h4>
        <%= image_tag 'donation/fantom.png', class:'mobile-margin-10 w3-image', alt: 'FANTOM' %>
        <p>0xf73b2b526dfc0dcd2c0<br>fa4aa37f6af20d459e8d4</p>
      </div>

      <div class="w3-third">
        <h4>SOLANA</h4>
        <%= image_tag 'donation/solana.png', class:'mobile-margin-10 w3-image', alt: 'SOLANA' %>
        <p>3xhZyDwgcbnZdEC49K1kwD<br>HBvMkeFkC76MCJcgWCsH49</p>
      </div>

      <div class="w3-third">
        <h4>BITCOIN</h4>
        <%= image_tag 'donation/bitcoin.png', class:'mobile-margin-10 w3-image', alt: 'BITCOIN' %>
        <p>1FBVJywsHNPcS8h1<br>MFBE4RTEKn8yz5ZJZi</p>
      </div>

    </div>
          <p>Eth (ERC20): 0xf73b2b526dfc0dcd2c0fa4aa37f6af20d459e8d4</p>
<hr>

    <h2 style="margin-top:100px">Referral Links</h2>

    <table class="w3-table w3-bordered">
      <tr style="background:#0e0e10">
        <td>
          <b>ZenSports - Esports betting</b>
        </td>
        <td><b>Sign Up Code in the ZenSports App - RJZONE</b><br>(Get start bonus in SPORTS tokens)</td>
      </tr>
      <tr style="background:#0e0e10">
        <td>
          <a href="https://rocketjump.zone/humblebundle" target="_blank">rocketjump.zone/humblebundle</a>
        </td>
        <td>buy cheap games, support charity</td>
      </tr>
      <tr style="background:#0e0e10">
        <td>
          <a href="https://rocketjump.zone/patreon-invite" target="_blank">rocketjump.zone/patreon-invite</a>
        </td>
        <td>let your fans support you via Patreon</td>
      </tr>
      <tr style="background:#0e0e10">
        <td>
          <a href="https://www.namesilo.com/register.php?rid=2b57923hc" target="_blank">rocketjump.zone/domains</a>
        </td>
        <td>need a website domain? go with Namesilo</td>
      </tr>
      <tr style="background:#0e0e10">
        <td>
          <a href="https://www.linode.com/?r=fec37364d873ec194adf24d73c7ac1f21c125f03" target="_blank">rocketjump.zone/vps</a>
        </td>
        <td>need a VPS? go with Linode</td>
      </tr>
    </table>

</div>
<!-- end of w3-content-->
