---
title: Contribute
---

<div class="w3-content w3-center w3-container w3-animate-opacity">

  <h1>Support the project, Become a part of it</h1>
  <p>Your contributions will be mentioned in our <a href="/blog/tags/recap/" target="_blank">monthly reports</a></p>

    <div class="w3-row w3-margin-top">

      <div class="w3-third">
        <h4>StreamLabs - Alert Donation</h4>
        <a href="https://rocketjump.zone/donate" target="_blank" class="w3-btn w3-round w3-center w3-padding-large w3-hover-white w3-large mobile-margin-10 w3-red w3-mobile">
          <b>
            <i class="far fa-credit-card"></i>
            <i class="fab fa-paypal"></i>
            BECOME A DONOR
          </b>
        </a>
      </div>

      <div class="w3-third">
        <h4>Patreon - Join &euro;1/mo Campaign</h4>
        <a href="/patreon" target="_blank" class="w3-btn w3-round w3-center w3-padding-large w3-hover-white w3-large mobile-margin-10 w3-red w3-mobile">
          <b>
            <i class="fab fa-patreon"></i>
            BECOME A PATRON
          </b>
        </a>
      </div>

      <div class="w3-third">
        <h4>Direct Payment</h4>
        IBAN (SK): SK8283605207004201237184<br>
        IBAN (UK): GB26LOYD77490185896660<br>
        <a href="https://www.paypal.com/paypalme/ch4mp">Directly PayPal</a>
      </div>

    </div>
    <hr>

    <h2 style="margin-top:100px">Referral Links</h2>

    <table class="w3-table w3-bordered">
      <tr style="background:#131316">
        <td>
          <a href="https://rocketjump.zone/merch" target="_blank">rocketjump.zone/merch</a>
        </td>
        <td>this is our official merch</td>
      </tr>
      <tr style="background:#131316">
        <td>
          <a href="https://rocketjump.zone/humblebundle" target="_blank">rocketjump.zone/humblebundle</a>
        </td>
        <td>buy cheap games, support charity</td>
      </tr>
      <tr style="background:#131316">
        <td>
          <a href="https://rocketjump.zone/patreon-invite" target="_blank">rocketjump.zone/patreon-invite</a>
        </td>
        <td>let your fans support you via Patreon</td>
      </tr>
      <tr style="background:#131316">
        <td>
          <a href="https://rocketjump.zone/dlive-invite" target="_blank">rocketjump.zone/dlive-invite</a>
        </td>
        <td>start streaming on dlive platform</td>
      </tr>
      <tr style="background:#131316">
        <td>
          <a href="https://www.namesilo.com/register.php?rid=2b57923hc" target="_blank">rocketjump.zone/domains</a>
        </td>
        <td>need a domain? go with Namesilo</td>
      </tr>
      <tr style="background:#131316">
        <td>
          <a href="https://www.linode.com/?r=fec37364d873ec194adf24d73c7ac1f21c125f03" target="_blank">rocketjump.zone/vps</a>
        </td>
        <td>need a VPS? go with Linode</td>
      </tr>
      <tr style="background:#131316">
        <td>
          <a href="https://store.templatemonster.com/?aff=Champion_The" target="_blank">rocketjump.zone/templates</a>
        </td>
        <td>need a website template? go with Template Monster</td>
      </tr>
    </table>

</div>
<!-- end of w3-content-->
