---
title: Pickup Games
description: Play with the Community - Join Discord - rocketjump.zone/discord, visit #pickup channel and host a pickup game.
---

<div class="w3-content w3-container w3-animate-opacity">
  <h1 class="w3-center">Pickup Games</h1>
  <hr>

  <p class="w3-center">
    To host / play a game, join our
    <a href="http://rocketjump.zone/discord" target="_blank">discord server</a>
    and visit the #pickup channel.
  </p>
  <hr>
  <h4 class="w3-center">
    <strong>XONOTIC PICKUP</strong>
  </h4>

  <p class="w3-center"><b>pickups:</b>
    duel (ranked), 4v4tdm, <b>discord group:
    </b>@Xonotic</p>

    <p>
      <strong>Available servers:</strong>
    </p>

      <%= partial "partials/servers" %>
  <hr>
  <p>
    <strong>Example hosting a pickup game (2 captains, 8 players, 2 teams) &nbsp;&nbsp;// Use "/" to trigger commands</strong>
  </p>
  <ol>
    <li>/add 4v4tdm</li>
    <li>7 more players /add</li>
    <li>the bot will randomly choose two captains</li>
    <li>either of the captains /cointoss</li>
    <li>picking players - winner of cointoss picks first:</li>
  </ol>

  <p>
    <b>captain 1</b><br>
    picks 1 player</p>
  <p>
    <b>captain 2</b><br>
    picks 2 players<br></p>
  <p>
    <b>captain 1</b><br>
    picks 2 players</p>
  <p>
    <b>captain 2</b><br>
    gets last player</p>


</div>
<!-- end of w3-content-->
