---
title: Pickup Games
description: Play with the Community - Join Discord - rocketjump.zone/discord, visit #pickup channel and host a pickup game.
---

<div class="w3-content w3-container w3-animate-opacity">
  <h1 class="w3-center">Pickup Games</h1>
  <hr>

  <p class="w3-center">
    To host / play a game, join the
    <a href="http://rocketjump.zone/discord" target="_blank">discord server</a>
    and visit #pickup channel.
  </p>
  <hr>
  <p>
    <strong>XONOTIC PICKUP</strong>
  </p>

  <div class="w3-row">
    <div class="w3-half">
      <h4 style="font-weight:bold"> EUROPE</h4>
      <p>duel (ranked), duel_rookie, 4v4tdm</p>
      <p><b>servers:</b><br>
        <a href="http://stats.xonotic.org/server/27992">Duel 1 - Frankfurt</a> - <kbd>172.105.76.71</kbd>
        </p>
    </div>

    <div class="w3-half">
      <h4 style="font-weight:bold">NORTH AMERICA</h4>
      <p>TBA</p>
      <p><b>servers:</b><br>
        TBA
        </p>
    </div>
  </div>

  <hr>
  <p>
    <strong>Example (hosting a pickup game - 2 captains, 8 players, 2 teams)</strong>
  </p>
  <ol>
    <li>!add 4v4tdm</li>
    <li>7 more players !add</li>
    <li>the bot will randomly choose two captains</li>
    <li>either of the captains !cointoss</li>
    <li>picking players - winner of cointoss picks first:</li>
  </ol>

  <p>
    <b>captain 1</b><br>
    picks 1 player</p>
  <p>
    <b>captain 2</b><br>
    picks 2 players<br></p>
  <p>
    <b>captain 1</b><br>
    picks 2 players</p>
  <p>
    <b>captain 2</b><br>
    gets last player</p>
  <hr>
  <p>
    <strong>Available Pickup Groups (self-role setup in #spam)</strong><br>
    xonotic_pickup<br>
  </p>
  <hr>
  <p>
    <strong>Pickup (bot) Commands</strong>
  </p>
  <p>
    <strong>ACTONS:</strong>
  </p>
  <p>!add pickup[ pickup ..]] or +pickup[ pickup ..]] - adds you to specified pickups.<br>
    !add or ++ - adds you to all active pickups.<br>
    !remove pickup[ pickup …] or -[pickup[ pickup ..]] - removes you from specified pickups.<br>
    !remove or – - removes you from all pickups.<br>
    !expire time - Sets new time delay after you will be removed from all pickups, example: '!expire 1h 2m 3s'.<br>
    !default_expire time or 'afk' - Set your personal default !expire time or set autoremove on afk status.<br>
    !sub - request sub for last game.<br>
    !allowoffline - gives you immune from getting removed by offline or afk statuses until a pickup with you starts.</p>
  <p>
    <strong>INFO:</strong>
  </p>
  <p>!who [pickup[ pickup …]] - list of users added to a pickups.<br>
    !pickups - list of all pickups on the channel.<br>
    !pickup_groups - list of pickup groups configured on the channel.<br>
    !expire - shows you how much time left before you will be removed from all pickups.<br>
    !lastgame [@nick or pickup] - show last pickup, or last pickup by specified argument.<br>
    !top [weekly or monthly or yearly] - shows you most active players.<br>
    !stats [nick or pickup] - shows you overall stats or stats for specified argument.<br>
    !ip [pickup or default] - shows you ip of last pickup or specified pickup.<br>
    !map pickup - print a random map for specified pickup.<br>
    !maps pickup - show all maps for specified pickup.</p>
  <p>
    <strong>RANKING:</strong>
  </p>
  <p>
    !leaderboard [page] or !lb [page] - show top players by rating.<br>
    !rank - show your rating stats.<br>
    !reportlose or !rl - report loss on your current match (avalible for captains only).<br>
    !reportdraw !draw or !rd - report draw on your current match (avalible for captains only, captain of other team has to confirm).<br>
    !reportcancel or !rc - report cancel on your current match (avalible for captains only, captain of other team has to confirm).<br>
    !matches - show all active matches on the channel.<br>
    !ranks_table - show rank to rating table.
  </p>
  <p>
    <strong>TEAMS PICKING:</strong>
  </p>
  <p>!cointoss or !ct [heads or tails] - toss a coin.<br>
    !pick @nick - pick a user to your team.<br>
    !put @nick alpha or beta - put player in specified team (availible only for users with moderator or admin rights).<br>
    !subfor @nick - become a substitute for specified player.<br>
    !capfor alpha or beta - become a captain of specified team.<br>
    !teams - show teams for current pickup.</p>

</div>
<!-- end of w3-content-->
