---
title: Policy
---

<div class="w3-content w3-container w3-animate-opacity">
  <h1 class="w3-center">Policy</h1>
  <hr>
    <h2>Player Profiles</h2>
    <p>
      We collect player details entered by
      <a href="https://rocketjump.zone/new-player" target="_blank">registration</a><br>Please be aware that we do not share your details to any 3rd party and keep it in private.
      <p>
        <h2>Website</h2>
        <p>
          We use
          <a href="https://support.google.com/analytics/answer/6004245" target="_blank">Google Analytics</a>
          which collects anonymous visitor data so we can see our traffic stats.
        </p>
        <h2>Donations</h2>
        <p>All donations are non refundable.</p>

        <h2>Tournaments</h2>

        <p>
          <b>Payment Method</b><br>
          We use only PayPal at the moment.
        </p>

        <p>
          <b>Fees & taxes</b><br>
          All prize winners are responsible for paying any applicable fees and taxes for winnings they receive.<br>
          PayPal fees may apply for all winnings.
        </p>

        <p>
          <b>Payment time frame</b><br>
          All payments are paid out within
          <b>48 hours</b>
          of the event ending, unless otherwise stated.<br>
          If there is an expected delay in payment, we will let you know.
        </p>

        <p>
          <b>Claiming</b><br>
          All prize winners must claim their winnings within <b>24 hours</b> of the respective tournament ending. Additionally, only 1 person per team may claim the team's collective prize(s), we are not responsible for prize distribution within your team level.
        </p>

        <p>
          <b>Rules</b>
        </p>
        <ol>
          <li>Players are welcome to stream their own <abbr title="Point Of View">POV</abbr> on their personal streams with a min. of 16 secs delay to avoid stream sniping</li>
          <li>Any attempt in <b>cheating</b> will result in a <b>perma ban</b></li>
          <li>If you can't continue participating in a tournament, report that to an admin</li>
          <li>All participants (if team mode a captain) must be available in our official discord server during a tournament</li>
        </ol>
        <hr>
        &copy; <%= Time.now.strftime('%Y') %> rocketjump.zone
      </div>
      <!-- end of w3-content-->
