---
title: Policy
---

<div class="w3-content w3-container w3-animate-opacity">
  <h1 class="w3-center">Policy</h1>
  <hr>
        <h2>Website</h2>
        <p>
          We use
          <a href="https://support.google.com/analytics/answer/6004245" target="_blank">Google Analytics</a>
          which collects anonymous visitor data so we can see our traffic stats.
        </p>
        <h2>Donations</h2>
        <p>All donations are non refundable, especially donations donated to a tournament for a prize pool.</p>

        <h2>Tournaments</h2>

        <p>
          <b>Rocket Jump Zone Tournaments</b><br>
          All prizes will be paid out within 78 hours via PayPal or Crypto (USDT). A transaction fee may apply.
          </p>
        <p>

        <p>
          <b>ZenSports Tournaments</b><br>
          All prizes will be paid out as credits to customers’ ZenSports account (either in USDT, Bitcoin, ICX, or SPORTS).<br>
          All withdrawal requests must be submitted directly within the ZenSports app.<br>
          ZenSports does NOT offer third party payment options such as PayPal, Skrill, etc.
          </p>
        <p>
          <a href="https://support.zensports.com/en/articles/3136458-yoti-kyc-aml-verification-option" target="_blank">KYC is required.</a>
        </p>

        <hr>
        &copy; <%= Time.now.strftime('%Y') %> rocketjump.zone
      </div>
      <!-- end of w3-content-->
