---
title: XCE
description: XCE is a Xonotic fork Created by Rocket Jump Zone for Competitive Players and Esports.
layout: xce-jquery
---

<div class="w3-content w3-container w3-animate-opacity">

  <h1 class="w3-center">Xonotic Competitive Edition - XCE</h1>
  <hr>
  <div class="w3-display-container w3-margin-top w3-hide-small" style="margin-bottom:5px">
    <img src="../../images/xce/1.jpg" class="w3-mobile mySlides w3-image w3-animate-opacity" alt="1">
    <img src="../../images/xce/2.jpg" class="w3-mobile mySlides w3-image w3-animate-opacity" alt="2">
    <iframe class="w3-mobile mySlides w3-animate-opacity" style="height:533px;width:100%" src="https://www.youtube.com/embed/qbfwZOOJ84k" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <button class="w3-button w3-display-left w3-hide-small" onclick="plusDivs(-1)">
      <i class="fas fa-3x fa-arrow-left"></i>
    </button>
    <button class="w3-button w3-display-right w3-hide-small" onclick="plusDivs(1)">
      <i class="fas fa-3x fa-arrow-right"></i>
    </button>
  </div>

<div class="w3-center">
  <a class="w3-hide-small" style="border:none" href="#">
    <span class="w3-tag w3-hover-white w3-red" style="margin-left:2.5px">
      <i class="fas fa-download"></i>
      XCE 1.1 INVITE ONLY &nbsp;&nbsp;
    </span>
  </a>

  <a class="mobile-margin-20" style="border:none" href="#faq">
    <span class="w3-tag w3-hover-white w3-red" style="margin-left:2.5px">
      INSTALLATION / FAQ
    </span>
  </a>

  <a class="mobile-margin-10" style="border:none" href="#servers">
    <span class="w3-tag w3-hover-white w3-red" style="margin-left:16px">
      SERVERS
    </span>
  </a>

  <a class="mobile-margin-10" style="border:none" href="#assets">
    <span class="w3-tag w3-hover-white w3-red" style="margin-left:2.5px">
      ASSETS
    </span>
  </a>

  <a class="mobile-margin-10" style="border:none" href="#config">
    <span class="w3-tag w3-hover-white w3-red" style="margin-left:2.5px">
      CONFIG / CONSOLE
    </span>
  </a>

  <a class="mobile-margin-10" style="border:none" href="/blog/xonotic-competitive-edition-fund/" target="_blank">
    <span class="w3-tag w3-hover-white w3-red" style="margin-left:16px">
      XCE FUND
    </span>
  </a>
</div>

  <hr>
  <h2>Quick Facts</h2>
  <ul>
    <li>XCE (Xonotic Competitive Edition) is a Xonotic fork Created by Rocket Jump Zone for Competitive Players and Esports.
    </li>
    <li>
      Based on Xonotic git (June 2022) and the <a href="https://omaera.org/~z411/xonotic/">BaI mod</a>
    </li>
    <li>Featuring new assets such as new announcers, player &amp; weapon sounds, pre-made configs and Esports integrations.
    </li>
  </ul>

  <hr>

  <h2 id="config">Config / Console</h2>
  <p>press "~" or "shift + esc" to open the console and simply enter a command</p>
  <ul>
    <li><h3>pre-made configs</h3>
      <small>done via console or main menu (under effects)</small><br>
      <span style="border-bottom:1px groove" data-preview-image="../../images/xce/1-preview.jpg"><kbd>default</kbd></span>&nbsp;
      best eye candy config with textures on<br>
      <span style="border-bottom:1px groove" data-preview-image="../../images/xce/2-preview.jpg"><kbd>competitive</kbd></span>&nbsp;
      best config for more serious players with textures off and max fps</li>
    <li><h3>HUD's</h3>
      <small>done via console or main menu (under hud editor)</small><br>
      <kbd>hud-xonotic</kbd> <kbd>hud-ch4mp</kbd> <kbd>hud-caster</kbd></li>
    <li><h3>announcers available:</h3>
      <small>done via console, for example: cl_announcer quake</small><br>
      <kbd>xonotic</kbd> <kbd>quake</kbd> <kbd>shobon (spanish)</kbd> <kbd>default</kbd>
      <kbd>female</kbd>

    <li><h3>Commands &amp; Shortcuts</h3>
      <u>In game vote / call commands:</u><br>
      <b>vcall chmap</b> "map" or <b>vmap</b> "map"
      (vote for a diff map)<br>
      <b>vcall gg</b> or <b>vcall endmatch</b>
      (call a gg, end match)<br>
      <b>vcall restart</b>
      (restart current map)
    </li>
    <li>
      <u>more useful commands:</u><br>
      <b>vcall cointoss</b> - heads or tails?<br>
      <b>vcall bots, vcall nobots</b> - who needs bots? our playerbase is huge<br>
      <b>allmaps</b> - print names of all available maps on the server<br>
      <b>votemaps</b> - print all available vote maps<br>
      <b>autospec</b> - follow killer cam<br>
      <b>timeout, timein</b> - pause and unpause the game<br>
      <u>shortcuts:</u><br>
      q / quit, d / disconnect, s / spec, r / ready<br>
    </li>

    <li>
      <h3>Tuning</h3>
      (restarting the game (vid_restart) might be needed to take effect<br>
      <kbd>gl_picmip_world 0</kbd>&nbsp; (turn textures on)<br>
      <kbd>cl_particles_alpha 0.2</kbd><br>
      <kbd>cl_particles_sparks 0</kbd><br>
      <kbd>cl_particles_blood 0</kbd><br>
      <kbd>cl_particles_smoke 1</kbd>&nbsp; (will enable better effects for projectiles but also enables annoying "flame" bug)<br>
      <kbd>r_coronas 0</kbd><br><br>

      <kbd>hud_panel_scoreboard_duel_weapon_scale</kbd>&nbsp; (1.50 recommended, scales weapon icons in the scoreboard)<br>
      <kbd>hud_panel_itempickup</kbd>&nbsp; (0 or 1)<br>
      <kbd>hud_panel_spect_scores</kbd>&nbsp; (0 or 1)<br>
      <kbd>hud_panel_spect_playername</kbd>&nbsp; (0 or 1)<br>
      <kbd>hud_panel_centerprint_medals</kbd>&nbsp; (0 or 1 - now you can simply turn off medal popups)<br>
      <kbd>hud_panel_centerprint_medals_max</kbd>&nbsp; (max number of medals to show before it starts showing the number instead)



    </li>
  </ul>

  <p style="margin-top:50px">
    Where is your config located (that's also the place to put assets):</p>
  <i class="fab fa-2x fa-linux"></i>
  &nbsp;&nbsp; ~/.xonotic/data
  <br>
  <i class="fab fa-2x fa-windows"></i>
  &nbsp;&nbsp; C:\Users\your name\Saved Games\xonotic\data<br>
  <i class="fab fa-2x fa-apple"></i>
  &nbsp;&nbsp; ~/Library/Application Support/xonotic/data

  <p>To change the default config path, launch the game with this custom param (for Windows):&nbsp;&nbsp;
    <kbd>-userdir C:\.xce</kbd>
  </p>

  <hr>

  <h2 id="servers">Servers</h2>

    <%= partial "partials/servers" %>

  <hr>

  <h2 id="assets">Assets</h2>

  <ul>
    <li>
      <a href="http://xonrepo2.xyz/zzz-player-sounds-female.pk3" target="_blank">Female player sound pack</a>
    </li>

    <li>
      <a href="http://xonrepo2.xyz/zzz-player-sounds-tommy.pk3" target="_blank">Tommy player sound pack</a>
    </li>

    <li>
      <a href="http://xonrepo2.xyz/zzz-mg-new.pk3" target="_blank">New machinegun weapon model</a>
    </li>

    <li>
      <a href="http://xonrepo2.xyz/zzz-shotgun-new.pk3" target="_blank">New shotgun weapon model</a>
    </li>

    <li>
      <a href="http://xonrepo2.xyz/zzz-rl-old.pk3" target="_blank">Old "Quakish" RL weapon model</a>
    </li>

    <li>
      <a href="http://xonrepo2.xyz/crosshairs_dra.pk3" target="_blank">New crosshairs by Draena</a>
    </li>
  </ul>

  <hr>

  <h2 id="faq">FAQ</h2>

  <h3>Installation</h3>
  <p>There's no installation nor Steam support. Simply extract the package somewhere and run &nbsp;<kbd>xonotic.exe</kbd></p>

  <h3>Is this fork for free?</h3>
  <p>Yes, but invite only.<br>
  </p>

  <h3>Is XCE compatible with Xonotic?</h3>

  <p><i>Disclaimer: XCE is not an official Xonotic release.</i><br>
    100% Compatible. All weapons and modes from Xonotic are available.
</p>

  <h3>Can I contribute?</h3>
  <p>Sure, check out the
    <a href="/blog/xonotic-competitive-edition-fund/">XCE fund</a></p>
  <hr>
  <div class="w3-center social-icons">
    <a style="text-decoration:none" href="https://twitter.com/rocketjumpzone" target="_blank">
      <i class="fab fa-2x fa-twitter"></i>
    </a>
    <a style="text-decoration:none" href="https://www.youtube.com/channel/UCYZbIYOuM8S1wq85GoWE4qA" target="_blank">
      <i class="fab fa-2x fa-youtube"></i>
    </a>
    <a style="text-decoration:none" href="https://rocketjump.zone/discord" target="_blank">
      <i class="fab fa-2x fa-discord"></i>
    </a>
    <a style="text-decoration:none" href="https://www.twitch.tv/rocketjumpzone" target="_blank">
      <i class="fab fa-2x fa-twitch"></i>
    </a>
    <a style="text-decoration:none" href="https://rocketjump.zone/github" target="_blank">
      <i class="fab fa-2x fa-github"></i>
    </a>
    <a style="text-decoration:none" href="https://rocketjump.zone/patreon" target="_blank">
      <i class="fab fa-2x fa-patreon"></i>
    </a>
  </div>
</div>

<script>

  var slideIndex = 1;
  showDivs(slideIndex);

  function plusDivs(n) {
    showDivs(slideIndex += n);
  }

  function showDivs(n) {
    var i;
    var x = document.getElementsByClassName("mySlides");
    if (n > x.length) {
      slideIndex = 1
    }
    if (n < 1) {
      slideIndex = x.length
    };
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
    }
    x[slideIndex - 1].style.display = "block";
  }
</script>
